In [1]:
import pandas as pd
import numpy as np

In [2]:
import gc

In [8]:
attributes = pd.read_pickle('../attributes2.pkl')

In [9]:
attributes.shape

(185590092, 4)

In [6]:
str_attributes = [5, 66, 48, 10, 7, 52, 49]

In [7]:
attributes = attributes[attributes.attribute.isin(str_attributes)]

In [8]:
attributes.shape

(39902587, 4)

In [9]:
attributes.reset_index(inplace=True, drop=True)

In [10]:
attributes['data_type'] = attributes.attribute_value.apply(lambda x: type(x).__name__)

In [11]:
attributes.attribute_value.head()

0    romance_the_royal_romance_02:11
1    romance_the_royal_romance_02:10
2     romance_the_royal_romance_01:1
3          picker ya_romance_vampire
4                                NaN
Name: attribute_value, dtype: object

In [12]:
attributes.data_type = attributes.data_type.astype('category')

In [13]:
attributes.data_type.head()

0      str
1      str
2      str
3      str
4    float
Name: data_type, dtype: category
Categories (2, object): [float, str]

In [14]:
attributes[attributes.data_type != 'str'].attribute_value.unique()

array([nan], dtype=object)

# `5`

In [10]:
attributes[attributes.attribute == 5].attribute_value.value_counts()

romance_the_royal_romance_01:1          303824
romance_high_school_story_01:1          249636
romance_the_royal_romance_01:3          113642
horror_bloodbound_01:1                  106965
romance_high_school_story_01:2           94837
romance_high_school_story_01:3           90028
romance_the_royal_romance_01:2           89686
romance_the_royal_romance_01:4           78745
romance_the_royal_romance_01:5           61945
romance_high_school_story_01:4           61368
romance_big_sky_country_01:1             60281
romance_the_royal_romance_01:6           57596
romance_high_school_story_01:5           57413
romance_high_school_story_04:1           55396
romance_the_royal_romance_01:7           55387
romance_americas_most_eligible_01:1      53658
romance_the_freshman_01:1                52962
romance_high_school_story_01:6           51108
romance_the_royal_romance_01:8           49768
horror_bloodbound_01:2                   48980
fantasy_the_elementalists_01:1           47234
romance_high_school_story_01:8           47017
romance_the_royal_romance_01:9           46365
romance_high_school_story_01:7           42618
romance_the_royal_romance_01:10          40711
romance_the_freshman_01:2                38832
romance_the_royal_romance_01:11          38601
romance_high_school_story_01:9           37248
romance_perfect_match_01:1               36256
horror_bloodbound_01:3                   35402
                                         ...
test_final_chapter_replay:3                 30
test_scripts_240:2                          16
test_scripts_230:1                          14
test_import_helper_code_02:1                14
test_chapter_replay:1                       13
test_diamond_locked:1                       11
test_scripts_200:4                          10
test_chapter_replay:4                        8
test_series_01:1                             8
crime_most_wanted_01:0                       7
fantasy_the_crown_and_the_flame_01:0         7
test_import_helper_code_01:2                 6
test_scripts_200:3                           6
test_scripts_170:2                           5
test_scripts_240:1                           5
test_chat_ariel_001:1                        5
test_scripts_200:2                           4
test_scripts_237:1                           4
test_chat_andrew_001:1                       4
test_chapter_replay:3                        3
test_scripts_190:1                           2
chat_romance_kiss_and_tell_02:1              2
romance_the_freshman_02:0                    2
test_series_01:2                             1
test_scripts_190_2:1                         1
test_chapter_replay:2                        1
test_scripts_230:2                           1
chat_romance_texts_from_hss_01:1             1
romance_rules_of_engagement_01:0             1
romance_rideordie_01:1                       1
Name: attribute_value, Length: 735, dtype: int64

In [11]:
def convert_5(x):
    try:
        t = x.split(':')
        return {t[0]: int(t[1])}
    except:
        return x

In [12]:
temp = attributes[attributes.attribute == 5].attribute_value.apply(lambda x: convert_5(x))

In [13]:
temp.to_pickle('../temp5')

In [14]:
attributes.loc[attributes.attribute == 5, ['attribute_value']] = temp.values

In [15]:
del temp

In [16]:
gc.collect()

0

# `66`

In [18]:
def convert_66(x):
    try:
        t = x[2:-2].replace('\\', '').replace('"', '').split(',')
        return {d.split(':')[0]: int(d.split(':')[1]) for d in t}
    except:
        return x

In [21]:
temp = attributes[attributes.attribute == 66].attribute_value.apply(lambda x: convert_66(x))

In [22]:
temp.to_pickle('../temp66')

In [23]:
attributes.loc[attributes.attribute == 66, ['attribute_value']] = temp.values

In [24]:
del temp

In [25]:
gc.collect()

88

# `48`

In [26]:
attributes[attributes.attribute == 48].attribute_value.value_counts()

picker ya_romance_vampire                        6075847
default                                            77927
picker romance_fantasy                             22279
picker ya_romance_fantasy                           5529
picker ya_romance_scifi                              418
picker ya_romance_horror                             236
picker hss_fantasy                                    78
picker storefront_test                                51
picker reality_romance_vampire_book_title             45
picker college_romance_adventure                      42
picker romance_fantasy_adventure                      41
picker reality_romance_vampire_short_title            22
picker college_fantasy_romance                        20
picker ya_romance_vampire_long_title_control          18
picker historical_romance_vampire_book_title          18
picker ya_romance_vampire_book_title_control          15
book romance_the_freshman_01                          14
picker historical_romance_vampire_short_title         12
picker romance_trr_fantasy                            12
picker reality_romance_vampire_long_title             12
picker love_fantasy                                    8
picker romance_roe_fantasy                             6
picker historical_romance_vampire_long_title           2
Name: attribute_value, dtype: int64

In [29]:
def convert_48(x):
    try:
        return {x: 1}
    except:
        x

In [30]:
temp = attributes[attributes.attribute == 48].attribute_value.apply(lambda x: convert_48(x))

In [32]:
temp.to_pickle('../temp48')

In [33]:
attributes.loc[attributes.attribute == 48, ['attribute_value']] = temp.values

# `10`

In [35]:
attributes[attributes.attribute == 10].attribute_value.value_counts()

romance_the_royal_romance_01:1                  2244265
romance_high_school_story_01:1                  1720925
horror_bloodbound_01:1                           480974
romance_the_freshman_01:1                        355856
romance_big_sky_country_01:1                     170055
romance_americas_most_eligible_01:1              127471
romance_high_school_story_04:1                   104564
fantasy_the_elementalists_01:1                   100773
romance_rules_of_engagement_01:1                  87355
romance_perfect_match_01:1                        63879
romance_desire_and_decorum_01:1                   61922
horror_it_lives_in_the_woods_01:1                 44683
fantasy_the_crown_and_the_flame_01:1              41171
romance_the_senior_01:1                           30142
adventure_endless_summer_01:1                     26738
romance_courtesan_of_rome_01:1                    25547
romance_lovehacks_01:1                            20620
horror_it_lives_in_the_woods_02:1                 19774
scifi_across_the_void_01:1                        18160
romance_home_for_the_holidays_01:1                14965
romance_the_royal_romance_03:1                    13925
romance_the_royal_romance_02:1                    12218
mystery_veil_of_secrets_01:1                      11797
romance_red_carpet_diaries_01:1                   11701
romance_the_freshman_02:1                         11658
adventure_hero_01:1                               10010
romance_the_junior_01:1                            9648
crime_most_wanted_01:1                             8750
romance_the_sophomore_01:1                         8740
romance_high_school_story_03:1                     8617
                                                 ...
romance_lovehacks_02:1                             1643
adventure_endless_summer_02:1                      1491
romance_the_sophomore_01_side_halloween_01:1       1206
adventure_endless_summer_03:1                      1094
fantasy_the_crown_and_the_flame_03:1               1028
romance_the_freshman_01_side_james_01:1             929
crime_the_heist_01:1                                654
crime_most_wanted_01:0                              475
fantasy_the_crown_and_the_flame_01:0                396
test_final_chapter_replay:1                         289
romance_desire_and_decorum_02:1                     137
test_chapter_replay:1                                45
romance_rules_of_engagement_01:19                    35
test_import_helper_code_01:1                         26
test_scripts_230:1                                   23
romance_rules_of_engagement_01:0                     22
romance_lovehacks_01:18                              18
test_ticket_locked:1                                 13
romance_desire_and_decorum_01:16                     12
romance_the_freshman_02:0                            10
test_tobecontinued_final:1                            8
test_theme_all:1                                      6
test_chat_andrew_001:1                                5
romance_the_royal_romance_01:19                       4
romance_the_freshman_01:7                             2
test_scripts_200:1                                    2
test_scripts_190:1                                    2
romance_the_freshman_01:4                             2
kLoadingFlagBlockOnAsyncCall                          1
test_series_01:1                                      1
Name: attribute_value, Length: 77, dtype: int64

In [36]:
def convert_10(x):
    try:
        t = x.split(':')
        return {t[0]: int(t[1])}
    except:
        return x

In [37]:
temp = attributes[attributes.attribute == 10].attribute_value.apply(lambda x: convert_10(x))

In [38]:
temp.to_pickle('../temp10')

In [39]:
attributes.loc[attributes.attribute == 10, ['attribute_value']] = temp.values

# `7`

In [40]:
attributes[attributes.attribute == 7].attribute_value.value_counts()

romance_the_royal_romance_01:3          136500
romance_high_school_story_01:1          122724
romance_the_royal_romance_01:1          119450
romance_high_school_story_01:3           96467
romance_the_royal_romance_01:2           71189
romance_the_royal_romance_01:5           65712
romance_the_royal_romance_01:4           63049
romance_the_royal_romance_01:6           61372
romance_high_school_story_01:2           60314
romance_high_school_story_01:4           59283
romance_high_school_story_01:5           58941
horror_bloodbound_01:1                   55375
romance_the_royal_romance_01:7           55051
romance_high_school_story_01:7           52749
romance_the_freshman_01:1                52278
romance_the_royal_romance_01:8           48488
romance_high_school_story_01:6           46970
romance_big_sky_country_01:1             45716
romance_the_royal_romance_01:9           44335
romance_high_school_story_01:8           42306
romance_the_royal_romance_01:10          41330
romance_the_royal_romance_01:12          35383
romance_rules_of_engagement_01:1         35268
horror_bloodbound_01:3                   34147
romance_the_royal_romance_01:11          33663
romance_high_school_story_01:9           33570
romance_americas_most_eligible_01:1      32670
romance_high_school_story_04:1           32503
horror_bloodbound_01:2                   32500
romance_the_freshman_01:2                32149
                                         ...
test_final_chapter_replay:1                104
test_final_chapter_replay:2                 40
test_final_chapter_replay:3                 35
romance_the_freshman_01:0                   35
test_theme_all:1                            23
test_scripts_240:1                          22
fantasy_the_crown_and_the_flame_01:0        17
test_chapter_replay:3                       16
test_scripts_230:1                          14
test_chapter_replay:1                       14
test_import_helper_code_02:1                14
romance_the_freshman_02:0                   13
crime_most_wanted_01:0                      10
test_scripts_200:4                          10
test_diamond_locked:1                        8
test_series_01:1                             8
test_import_helper_code_01:2                 6
test_scripts_200:3                           6
test_chat_andrew_001:1                       5
test_chapter_replay:4                        4
test_scripts_200:2                           4
test_scripts_170:2                           2
test_scripts_190:1                           2
romance_rules_of_engagement_01:0             2
test_scripts_237:1                           2
test_scripts_240:2                           2
chat_romance_kiss_and_tell_02:1              2
test_series_01:2                             1
fantasy_the_crown_and_the_flame_02:0         1
test_chapter_replay:2                        1
Name: attribute_value, Length: 732, dtype: int64

In [41]:
def convert_7(x):
    try:
        t = x.split(':')
        return {t[0]: int(t[1])}
    except:
        return x

In [42]:
temp = attributes[attributes.attribute == 7].attribute_value.apply(lambda x: convert_7(x))

In [43]:
temp.to_pickle('../temp7')

In [44]:
attributes.loc[attributes.attribute == 7, ['attribute_value']] = temp.values

# `52`

In [45]:
attributes[attributes.attribute == 52].attribute_value.value_counts()

not_subscribed                       86529
lapsed                                  19
freeloader                               3
choices_keys_subscription_monthly        2
Name: attribute_value, dtype: int64

In [46]:
def convert_52(x):
    try:
        return {x: 1}
    except:
        x

In [47]:
temp = attributes[attributes.attribute == 52].attribute_value.apply(lambda x: convert_52(x))

In [48]:
temp.to_pickle('../temp52')

In [49]:
attributes.loc[attributes.attribute == 52, ['attribute_value']] = temp.values

# `49`

In [50]:
attributes[attributes.attribute == 49].attribute_value.value_counts()

true    65
Name: attribute_value, dtype: int64

In [52]:
attributes.loc[attributes.attribute == 49, ['attribute_value']] = np.ones(65)

In [53]:
attributes[attributes.attribute == 49].attribute_value.value_counts()

1.0    65
Name: attribute_value, dtype: int64

In [54]:
attributes.to_pickle('../attributes3.pkl')

# Simplification

In [1]:
import pandas as pd
import gc

In [4]:
attributes = pd.read_pickle('../attributes3.pkl')

In [5]:
attributes['data_type'] = attributes.attribute_value.apply(lambda x: type(x).__name__)

In [6]:
attributes.data_type.value_counts()

int      125358452
dict      38113289
float     22118350
str              1
Name: data_type, dtype: int64

In [7]:
attributes = attributes[attributes.data_type != 'str']

In [8]:
attributes.shape

(185590091, 5)

In [9]:
attributes.head()

,session_id,attribute,attribute_value,user_id_hash,data_type
0,2201961907282901522,0,1,9943447915df3a45fd6720a026af905b6da6b56a37701b...,int
1,2201961907282901522,1,1,9943447915df3a45fd6720a026af905b6da6b56a37701b...,int
2,2201961907282901522,3,0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,int
3,2201961907282901522,4,0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,float
4,2201961907282901522,5,{'romance_the_royal_romance_02': 11},9943447915df3a45fd6720a026af905b6da6b56a37701b...,dict

In [10]:
attributes.session_id.unique().shape

(6510494,)

In [11]:
attributes.attribute.unique().shape

(30,)

In [12]:
attributes.user_id_hash.unique().shape

(621460,)

In [16]:
x1 = attributes.session_id.cat.codes.apply(lambda x: str(x))
x1 = attributes.session_id.cat.codes.apply(lambda x: str(x))

0            1554799
1            1554799
2            1554799
3            1554799
4            1554799
5            1554799
6            1554799
7            1554799
8            1554799
9            1554799
10           1554799
11           1554799
12           1554799
13           1554799
14           1554799
15           1554799
16           1554799
17           1554799
18           1554799
19           1554799
20           1554799
21           1554799
22           1554799
23           1554799
24           1554799
25           1554799
26           1554799
27           1589391
28           1589391
29           1589391
              ...
185590062    2301987
185590063    1347283
185590064    2301987
185590065    1347283
185590066    2301987
185590067    1347283
185590068    2301987
185590069    1347283
185590070    2301987
185590071    1347283
185590072    2301987
185590073    1347283
185590074    2301987
185590075    1347283
185590076    2301987
185590077    1347283
185590078    2301987
185590079    1347283
185590080    2301987
185590081    1347283
185590082    2301987
185590083    1347283
185590084    2301987
185590085    1347283
185590086    2301987
185590087    1347283
185590088    2301987
185590089    1347283
185590090    2301987
185590091    1347283
Length: 185590091, dtype: object

In [60]:
attributes.attribute.value_counts()

16    6776351
17    6776351
1     6776351
3     6776351
4     6776351
5     6776351
6     6776351
7     6776351
8     6776351
9     6776351
11    6776351
13    6776351
14    6776351
15    6776351
0     6776351
18    6776351
19    6776351
20    6776351
21    6776351
52    6776351
10    6776350
75    6776297
76    6776297
77    6776297
78    6685459
66    6614104
48    6183014
67    3395545
96      79643
49         65
Name: attribute, dtype: int64

In [14]:
for a in attributes.attribute.unique():
    print(f'atribute: {a}')
    print(f'\t {attributes[attributes.attribute == a].data_type.value_counts()}')

atribute: 0
	 int    6776351
Name: data_type, dtype: int64
atribute: 1
	 int    6776351
Name: data_type, dtype: int64
atribute: 3
	 int    6776351
Name: data_type, dtype: int64
atribute: 4
	 float    6776351
Name: data_type, dtype: int64
atribute: 5
	 dict     6643377
float     132974
Name: data_type, dtype: int64
atribute: 6
	 int    6776351
Name: data_type, dtype: int64
atribute: 7
	 dict     5948222
float     828129
Name: data_type, dtype: int64
atribute: 8
	 int    6776351
Name: data_type, dtype: int64
atribute: 9
	 int    6776351
Name: data_type, dtype: int64
atribute: 10
	 dict     5948221
float     828129
Name: data_type, dtype: int64
atribute: 11
	 int    6776351
Name: data_type, dtype: int64
atribute: 13
	 float    6776351
Name: data_type, dtype: int64
atribute: 14
	 float    6776351
Name: data_type, dtype: int64
atribute: 15
	 int    6776351
Name: data_type, dtype: int64
atribute: 16
	 int    6776351
Name: data_type, dtype: int64
atribute: 17
	 int    6776351
Name: data_type, dtype: int64
atribute: 18
	 int    6776351
Name: data_type, dtype: int64
atribute: 19
	 int    6776351
Name: data_type, dtype: int64
atribute: 20
	 int    6776351
Name: data_type, dtype: int64
atribute: 21
	 int    6776351
Name: data_type, dtype: int64
atribute: 48
	 dict    6183014
Name: data_type, dtype: int64
atribute: 52
	 dict    6776351
Name: data_type, dtype: int64
atribute: 66
	 dict    6614104
Name: data_type, dtype: int64
atribute: 75
	 int    6776297
Name: data_type, dtype: int64
atribute: 76
	 int    6776297
Name: data_type, dtype: int64
atribute: 77
	 int    6776297
Name: data_type, dtype: int64
atribute: 78
	 int    6685459
Name: data_type, dtype: int64
atribute: 96
	 int    79643
Name: data_type, dtype: int64
atribute: 67
	 int    3395545
Name: data_type, dtype: int64
atribute: 49
	 float    65
Name: data_type, dtype: int64

In [17]:
int_attributes = [0, 1, 3, 6, 8, 9, 11, 15, 16, 17, 18, 19,
                  20, 21, 75, 76, 77, 78, 96, 67]

float_attributes = [49, 4, 13, 14]

dict_attributes = [48, 52, 66]

mixed_attribures = [5, 7, 10]

In [18]:
for a in int_attributes[:1]:
    attributes[f'attributes_{a}'] = None
    attributes.loc[attributes.attribute == a, [f'attributes_{a}']] = \
        attributes.loc[attributes.attribute == a, ['attribute_value']]
    gc.collect()a

In [3]:
attr

NameError: name 'attr' is not defined

In [19]:
attributes['attributes_0']

0             NaN
1            None
2            None
3            None
4            None
5            None
6            None
7            None
8            None
9            None
10           None
11           None
12           None
13           None
14           None
15           None
16           None
17           None
18           None
19           None
20           None
21           None
22           None
23           None
24           None
25           None
26           None
27            NaN
28           None
29           None
             ...
185590062    None
185590063    None
185590064    None
185590065    None
185590066    None
185590067    None
185590068    None
185590069    None
185590070    None
185590071    None
185590072    None
185590073    None
185590074    None
185590075    None
185590076    None
185590077    None
185590078    None
185590079    None
185590080    None
185590081    None
185590082    None
185590083    None
185590084    None
185590085    None
185590086    None
185590087    None
185590088    None
185590089    None
185590090    None
185590091    None
Name: attributes_0, Length: 185590091, dtype: object