In [1]:
import pandas as pd
import numpy as np

In [2]:
events = pd.read_pickle('../events.pkl')

In [3]:
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [15, 6]
plt.style.use('ggplot')

In [4]:
events.shape

(111946597, 5)

In [5]:
events.head(3).T

,0,1,2
session_id,5558845121177764917,5558845121177764917,7689508378645584666
event,45,45,.m5100869650219008
event_timestamp,1542215397132,1542215484895,1541124410372
event_value,0,0,0
user_id_hash,9943447915df3a45fd6720a026af905b6da6b56a37701b...,9943447915df3a45fd6720a026af905b6da6b56a37701b...,9943447915df3a45fd6720a026af905b6da6b56a37701b...

In [7]:
events.dtypes

session_id          object
event               object
event_timestamp      int64
event_value        float64
user_id_hash        object
dtype: object

In [8]:
events['session_id'] = events.session_id.astype('category')
events['event'] = events.event.astype('category')
events['user_id_hash'] = events.user_id_hash.astype('category')

In [10]:
events.dtypes

session_id         category
event              category
event_timestamp       int64
event_value         float64
user_id_hash       category
dtype: object

In [11]:
events.isna().sum(axis=0)

session_id          0
event               0
event_timestamp     0
event_value        63
user_id_hash        0
dtype: int64

In [12]:
for col in events.columns:
    print(f'{col}')
    print(f'\t {events[col].unique().shape}')

session_id
	 (5009421,)
event
	 (109,)
event_timestamp
	 (109625016,)
event_value
	 (89,)
user_id_hash
	 (621001,)

In [14]:
events.to_pickle('../events2.pkl')

In [2]:
events = pd.read_pickle('../events2.pkl')

In [3]:
sessions = pd.read_pickle('../session2.pkl')

In [4]:
events.columns

Index(['session_id', 'event', 'event_timestamp', 'event_value',
       'user_id_hash'],
      dtype='object')

In [5]:
sessions.columns

Index(['session_id', 'start_timestamp', 'timezone', 'timezone_offset',
       'previous_sessions_duration', 'user_created_timestamp',
       'is_user_first_session', 'country', 'region', 'city', 'latitude',
       'longitude', 'locale', 'os_name', 'session_index', 'device_id',
       'user_id_hash', 'user_time'],
      dtype='object')

In [6]:
sessions.shape

(5165760, 18)

In [7]:
events.shape

(111946597, 5)

In [21]:
events.head()

,session_id,event,event_timestamp,event_value,user_id_hash
0,5558845121177764917,45,1542215397132,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
1,5558845121177764917,45,1542215484895,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
2,7689508378645584666,.m5100869650219008,1541124410372,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
3,2201961907282901522,4,1543713091129,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
4,2201961907282901522,6,1543713093116,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...

In [9]:
events_sub = events[:10].copy()

In [10]:
events_sub

,session_id,event,event_timestamp,event_value,user_id_hash
0,5558845121177764917,45,1542215397132,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
1,5558845121177764917,45,1542215484895,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
2,7689508378645584666,.m5100869650219008,1541124410372,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
3,2201961907282901522,4,1543713091129,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
4,2201961907282901522,6,1543713093116,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
5,2201961907282901522,5,1543713101700,1.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
6,2201961907282901522,45,1543713186756,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
7,2201961907282901522,45,1543713206629,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
8,2201961907282901522,45,1543713247107,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
9,2201961907282901522,45,1543713294671,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...

In [20]:
events_sub.session_id.cat.codes.map(str) + '_' +\
    events_sub.user_id_hash.cat.codes.map(str)

0    2750854_372190
1    2750854_372190
2    4036653_372190
3     725373_372190
4     725373_372190
5     725373_372190
6     725373_372190
7     725373_372190
8     725373_372190
9     725373_372190
dtype: object

In [28]:
user_hash_dict = {k:v for k, v in zip(events.user_id_hash,
                                      events.user_id_hash.cat.codes)}

In [30]:
user_hash_dict_rev = {v: k for k, v in user_hash_dict.items()}

In [22]:
events_sub['combined_id'] = events_sub.session_id.cat.codes.map(str) + '_' +\
    events_sub.user_id_hash.cat.codes.map(str)

In [31]:
events_sub['combined_values'] = events_sub.event_value.map(str) + '_' + \
    events_sub.event_timestamp.map(str)

In [32]:
events_sub[['combined_id', 'event']]

,session_id,event,event_timestamp,event_value,user_id_hash,combined_id,combined_values
0,5558845121177764917,45,1542215397132,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2750854_372190,0.0_1542215397132
1,5558845121177764917,45,1542215484895,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2750854_372190,0.0_1542215484895
2,7689508378645584666,.m5100869650219008,1541124410372,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,4036653_372190,0.0_1541124410372
3,2201961907282901522,4,1543713091129,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,725373_372190,0.0_1543713091129
4,2201961907282901522,6,1543713093116,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,725373_372190,0.0_1543713093116
5,2201961907282901522,5,1543713101700,1.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,725373_372190,1.0_1543713101700
6,2201961907282901522,45,1543713186756,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,725373_372190,0.0_1543713186756
7,2201961907282901522,45,1543713206629,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,725373_372190,0.0_1543713206629
8,2201961907282901522,45,1543713247107,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,725373_372190,0.0_1543713247107
9,2201961907282901522,45,1543713294671,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,725373_372190,0.0_1543713294671

In [34]:
sessions[sessions.session_id == '5558845121177764917']

,session_id,start_timestamp,timezone,timezone_offset,previous_sessions_duration,user_created_timestamp,is_user_first_session,country,region,city,latitude,longitude,locale,os_name,session_index,device_id,user_id_hash,user_time
0,5558845121177764917,1542215364580,Asia/Manila,28800000,25837591,1538874289458,false,PH,00,makati,14.554729,121.024445,en_GB,Android OS,30,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-11-15 01:09:24

In [33]:
events_sub.pivot(index='combined_id', columns='event',
                 values='combined_values')

ValueError: Index contains duplicate entries, cannot reshape

In [35]:
merged = sessions.merge(events, how='left' ,on=['session_id', 'user_id_hash'])

In [36]:
merged.columns

Index(['session_id', 'start_timestamp', 'timezone', 'timezone_offset',
       'previous_sessions_duration', 'user_created_timestamp',
       'is_user_first_session', 'country', 'region', 'city', 'latitude',
       'longitude', 'locale', 'os_name', 'session_index', 'device_id',
       'user_id_hash', 'user_time', 'event', 'event_timestamp', 'event_value'],
      dtype='object')

In [38]:
merged[merged.session_id == '5558845121177764917'].T

,0,1
session_id,5558845121177764917,5558845121177764917
start_timestamp,1542215364580,1542215364580
timezone,Asia/Manila,Asia/Manila
timezone_offset,28800000,28800000
previous_sessions_duration,25837591,25837591
user_created_timestamp,1538874289458,1538874289458
is_user_first_session,false,false
country,PH,PH
region,00,00
city,makati,makati
latitude,14.5547,14.5547
longitude,121.024,121.024
locale,en_GB,en_GB
os_name,Android OS,Android OS
session_index,30,30
device_id,546a3d98-d540-4e72-ad82-9ebd64e0839b,546a3d98-d540-4e72-ad82-9ebd64e0839b
user_id_hash,9943447915df3a45fd6720a026af905b6da6b56a37701b...,9943447915df3a45fd6720a026af905b6da6b56a37701b...
user_time,2018-11-15 01:09:24,2018-11-15 01:09:24
event,45,45
event_timestamp,1.54222e+12,1.54222e+12
event_value,0,0

In [40]:
merged.dtypes

session_id                            object
start_timestamp                        int64
timezone                            category
timezone_offset                     category
previous_sessions_duration             int64
user_created_timestamp                 int64
is_user_first_session               category
country                             category
region                              category
city                                category
latitude                             float64
longitude                            float64
locale                              category
os_name                             category
session_index                       category
device_id                           category
user_id_hash                          object
user_time                     datetime64[ns]
event                               category
event_timestamp                      float64
event_value                          float64
dtype: object

In [41]:
merged.session_id = merged.session_id.astype('category')
merged.user_id_hash = merged.user_id_hash.astype('category')

In [34]:
merged.head().T

,0,1,2,3,4
session_id,5558845121177764917,5558845121177764917,2201961907282901522,2201961907282901522,2201961907282901522
start_timestamp,1542215364580,1542215364580,1543712977293,1543712977293,1543712977293
timezone,Asia/Manila,Asia/Manila,Asia/Manila,Asia/Manila,Asia/Manila
timezone_offset,28800000,28800000,28800000,28800000,28800000
previous_sessions_duration,25837591,25837591,35050130,35050130,35050130
user_created_timestamp,1538874289458,1538874289458,1538874289458,1538874289458,1538874289458
is_user_first_session,false,false,false,false,false
country,PH,PH,PH,PH,PH
region,00,00,00,00,00
city,makati,makati,quezon city,quezon city,quezon city
latitude,14.5547,14.5547,14.676,14.676,14.676
longitude,121.024,121.024,121.044,121.044,121.044
locale,en_GB,en_GB,en_GB,en_GB,en_GB
os_name,Android OS,Android OS,Android OS,Android OS,Android OS
session_index,30,30,47,47,47
device_id,546a3d98-d540-4e72-ad82-9ebd64e0839b,546a3d98-d540-4e72-ad82-9ebd64e0839b,546a3d98-d540-4e72-ad82-9ebd64e0839b,546a3d98-d540-4e72-ad82-9ebd64e0839b,546a3d98-d540-4e72-ad82-9ebd64e0839b
user_id_hash,9943447915df3a45fd6720a026af905b6da6b56a37701b...,9943447915df3a45fd6720a026af905b6da6b56a37701b...,9943447915df3a45fd6720a026af905b6da6b56a37701b...,9943447915df3a45fd6720a026af905b6da6b56a37701b...,9943447915df3a45fd6720a026af905b6da6b56a37701b...
user_time,2018-11-15 01:09:24,2018-11-15 01:09:24,2018-12-02 09:09:37,2018-12-02 09:09:37,2018-12-02 09:09:37
event,45,45,4,6,5
event_timestamp,1.54222e+12,1.54222e+12,1.54371e+12,1.54371e+12,1.54371e+12
event_value,0,0,0,0,1

In [39]:
import gc
gc.collect()

14245

In [42]:
merged.shape

(112069685, 21)

In [43]:
merged.drop_duplicates(inplace=True)

In [44]:
merged.shape

(112061984, 21)

In [45]:
merged.isna().sum(axis=0)

session_id                         0
start_timestamp                    0
timezone                           0
timezone_offset                    0
previous_sessions_duration         0
user_created_timestamp             0
is_user_first_session              0
country                       111169
region                         55102
city                           54942
latitude                       54942
longitude                      54942
locale                             0
os_name                           84
session_index                      0
device_id                          0
user_id_hash                       0
user_time                          0
event                         989971
event_timestamp               989971
event_value                   989971
dtype: int64

In [46]:
merged.to_pickle('../merged.pkl')