In [1]:
import pandas as pd

In [3]:
results = pd.read_pickle('../result.pkl')
features = pd.read_pickle('../transformed.pkl')
user_age = pd.read_pickle('../user_age.pkl')
user_time = pd.read_pickle('../user_time.pkl')

In [3]:
features = features.merge(user_age, on=['user_id_hash', 'week_start'], how='left')
features = features.merge(user_time, on=['user_id_hash', 'week_start'], how='left')

In [4]:
results.shape

(62037, 3)

In [5]:
features.shape

(995976, 16)

In [6]:
features.head(3).T

,0,1,2
week_start,2018-10-01 00:00:00,2018-10-01 00:00:00,2018-10-01 00:00:00
user_id_hash,000062e9be78f3da274fec338e78f89d12000e781967f2...,00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd...,0003f8bda56230a49445880e559b718e94ba37344494a7...
city_x,5,2,2
city_y,campbell,douglasville,middlesboro
is_user_first_session,True,True,True
country,US,US,US
country_count,1,1,1
region,ca,ga,ky
region_count,1,1,1
locale,en_US,en_US,en_US
os_name,Android OS,Android OS,Android OS
user_days,1,2,2
total_session_time,4730609,403432,150138
mean_session_time,946122,201716,75069
user_age,0,0,0
user_time,10,18,19

In [7]:
features.rename(columns={'city_x': 'no_of_citys', 'city_y': 'city'}, inplace=True)

In [8]:
results.head(3).T

,0,1,2
week_start,2018-10-01 00:00:00,2018-10-01 00:00:00,2018-10-01 00:00:00
user_id_hash,001c2d06972b17ee6a075ff9fbdae33eccb0bbf28357ea...,0026497d2043c8530220eeb8e66051982cc6df3139a9b0...,006b49314baf054c636e7448d4f9b0df046aae9e9c17d0...
event,1,3,10

In [9]:
import datetime as dt

In [10]:
results.week_start.dt.date.unique()

array([datetime.date(2018, 10, 1), datetime.date(2018, 10, 8),
       datetime.date(2018, 10, 15), datetime.date(2018, 10, 22),
       datetime.date(2018, 10, 29), datetime.date(2018, 11, 5),
       datetime.date(2018, 11, 12), datetime.date(2018, 11, 19),
       datetime.date(2018, 11, 26), datetime.date(2018, 12, 3),
       datetime.date(2018, 12, 10)], dtype=object)

In [11]:
features.week_start.dt.date.unique()

array([datetime.date(2018, 10, 1), datetime.date(2018, 10, 8),
       datetime.date(2018, 10, 15), datetime.date(2018, 10, 22),
       datetime.date(2018, 10, 29), datetime.date(2018, 11, 5),
       datetime.date(2018, 11, 12), datetime.date(2018, 11, 19),
       datetime.date(2018, 11, 26), datetime.date(2018, 12, 3),
       datetime.date(2018, 12, 10)], dtype=object)

In [12]:
results1 = results.copy(deep=True)
results1.week_start = results1.week_start.apply(lambda x: x- dt.timedelta(days=7))

In [13]:
results2 = results.copy(deep=True)
results2.week_start = results2.week_start.apply(lambda x: x - dt.timedelta(days=14))

In [14]:
results1.week_start.unique()

array(['2018-09-24T00:00:00.000000000', '2018-10-01T00:00:00.000000000',
       '2018-10-08T00:00:00.000000000', '2018-10-15T00:00:00.000000000',
       '2018-10-22T00:00:00.000000000', '2018-10-29T00:00:00.000000000',
       '2018-11-05T00:00:00.000000000', '2018-11-12T00:00:00.000000000',
       '2018-11-19T00:00:00.000000000', '2018-11-26T00:00:00.000000000',
       '2018-12-03T00:00:00.000000000'], dtype='datetime64[ns]')

In [15]:
results.head()

  week_start                                       user_id_hash  event
0 2018-10-01  001c2d06972b17ee6a075ff9fbdae33eccb0bbf28357ea...      1
1 2018-10-01  0026497d2043c8530220eeb8e66051982cc6df3139a9b0...      3
2 2018-10-01  006b49314baf054c636e7448d4f9b0df046aae9e9c17d0...     10
3 2018-10-01  007327aa3a27718c76e6cd73c3971304280c8856f62940...      1
4 2018-10-01  0088d9be17b2ec4b3621150117a0ede815547d4241eae1...      2

In [16]:
results1.tail()

      week_start                                       user_id_hash  event
62032 2018-12-03  ff8d2794885fc61aebd2416673ae2aeb588ea757d955b5...      1
62033 2018-12-03  ff8e51e5f39da30f3a38769d3f033889fd7710f131b888...      1
62034 2018-12-03  ff9155775b03810877a803dae6b4d68ee52824112bd1ac...      1
62035 2018-12-03  ffadf7fff78bb50fd0661da34dec64c47df9ef035a7570...      1
62036 2018-12-03  ffcc1d3c6d428afed50567e1dac683a6ab29f744bbb0a4...      2

In [17]:
results2.tail()

      week_start                                       user_id_hash  event
62032 2018-11-26  ff8d2794885fc61aebd2416673ae2aeb588ea757d955b5...      1
62033 2018-11-26  ff8e51e5f39da30f3a38769d3f033889fd7710f131b888...      1
62034 2018-11-26  ff9155775b03810877a803dae6b4d68ee52824112bd1ac...      1
62035 2018-11-26  ffadf7fff78bb50fd0661da34dec64c47df9ef035a7570...      1
62036 2018-11-26  ffcc1d3c6d428afed50567e1dac683a6ab29f744bbb0a4...      2

In [18]:
uf = features.user_id_hash.unique()

In [19]:
ur = results.user_id_hash.unique()

In [20]:
uf.shape

(619519,)

In [21]:
ur.shape

(34200,)

In [22]:
features.shape

(995976, 16)

In [23]:
features = features.merge(results, on=['user_id_hash', 'week_start'], how='left')

In [24]:
features.rename(columns={'event': 'purchase'}, inplace=True)

In [25]:
features.fillna(0, inplace=True)

In [26]:
features = features.merge(results1, on=['user_id_hash', 'week_start'], how='left')

In [27]:
features.rename(columns={'event': 'y1'}, inplace=True)

In [28]:
features = features.merge(results2, on=['user_id_hash', 'week_start'], how='left')

In [29]:
features.rename(columns={'event': 'y2'}, inplace=True)

In [30]:
features['y1'].fillna(0, inplace=True)

In [31]:
features['y2'].fillna(0, inplace=True)

In [32]:
features['y2'] = features['y1'] + features['y2']

In [33]:
features['y1'] = features['y1'] > 0

In [34]:
features['y2'] = features['y2'] > 0

In [35]:
features.dtypes

week_start               datetime64[ns]
user_id_hash                     object
no_of_citys                       int64
city                             object
is_user_first_session              bool
country                          object
country_count                     int64
region                           object
region_count                      int64
locale                           object
os_name                          object
user_days                         int64
total_session_time                int64
mean_session_time               float64
user_age                          int64
user_time                         int64
purchase                        float64
y1                                 bool
y2                                 bool
dtype: object

In [36]:
features.week_start.dt.date.unique()

array([datetime.date(2018, 10, 1), datetime.date(2018, 10, 8),
       datetime.date(2018, 10, 15), datetime.date(2018, 10, 22),
       datetime.date(2018, 10, 29), datetime.date(2018, 11, 5),
       datetime.date(2018, 11, 12), datetime.date(2018, 11, 19),
       datetime.date(2018, 11, 26), datetime.date(2018, 12, 3),
       datetime.date(2018, 12, 10)], dtype=object)

# Test Train Split

In [37]:
from sklearn.model_selection import KFold

def reg_target_encoding(train, col = "device_type", splits=5):
    """ Computes regularize mean encoding.
    Inputs:
       train: training dataframe
       
    """
    ksplit = KFold(n_splits=splits)
    for tidx, vidx in ksplit.split(train):
        mean_val = train.iloc[tidx, :].groupby(col)['y1'].mean()
        global_mean_val = train.iloc[tidx, :]['y1'].mean()
        train.loc[vidx, col + "_mean_enc"] = train.iloc[vidx, :][col].map(mean_val)
        train.loc[vidx, col + "_mean_enc"].fillna(global_mean_val, inplace=True)
    return None

In [38]:
def mean_encoding_test(test, train, col = "device_type"):
    """ Computes target enconding for test data.
    
    This is similar to how we do validation
    """
    mean_device_type = train.groupby(col)['y1'].mean()
    global_mean = train['y1'].mean()
    test[col + "_mean_enc"] = test[col].map(mean_device_type)
    test[col + "_mean_enc"].fillna(global_mean, inplace=True)
    return None

In [39]:
features.city = features.city.astype('category')
features.country = features.country.astype('category')
features.region = features.region.astype('category')
features.locale = features.locale.astype('category')
features.os_name = features.os_name.astype('category')

In [40]:
import numpy as np

In [41]:
train = features[features.week_start < '2018, 12, 3']
test = features[features.week_start >= '2018, 12, 3']

In [42]:
reg_target_encoding(train, col='country')
mean_encoding_test(test, train, col='country')

/home/jupyter/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/home/jupyter/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/home/jupyter/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/jupyter/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [43]:
train.city = train.city.cat.codes
train.country = train.country.cat.codes
train.region = train.region.cat.codes
train.os_name = train.os_name.cat.codes
train.locale = train.locale.cat.codes

/home/jupyter/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [44]:
test.city = test.city.cat.codes
test.country = test.country.cat.codes
test.region = test.region.cat.codes
test.os_name = test.os_name.cat.codes
test.locale = test.locale.cat.codes

In [45]:
train.is_user_first_session = train.is_user_first_session.astype(np.int)
train['y1'] = train['y1'].astype(np.int)
train['y2'] = train['y2'].astype(np.int)

/home/jupyter/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/jupyter/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [46]:
test.is_user_first_session = test.is_user_first_session.astype(np.int)
test['y1'] = test['y1'].astype(np.int)
test['y2'] = test['y2'].astype(np.int)

/home/jupyter/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/jupyter/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [47]:
train.shape

(921362, 20)

In [48]:
test.shape

(74614, 20)

In [49]:
features.shape

(995976, 19)

In [50]:
(test['y1'] > 0).sum()

2110

In [51]:
(train['y1'] > 0).sum()

33357

In [52]:
(test['y2'] > 0).sum()

2110

In [53]:
(train['y2'] > 0).sum()

39947

In [57]:
feature_cols = ['no_of_citys', 'city', 'is_user_first_session',
                'country', 'country_count', 'region', 'region_count',
                'locale', 'os_name', 'user_days', 'total_session_time',
                'mean_session_time', 'purchase', 'user_age', 'user_time',
                'country_mean_enc']

In [58]:
x_train = train[feature_cols].values
y1_train = train[['y1']]
y2_train = train[['y2']]

x_test = test[feature_cols].values
y1_test = test[['y1']]
y2_test = test[['y2']]

In [59]:
x_train

array([[5.00000000e+00, 3.97500000e+03, 1.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+01, 5.30359023e-02],
       [2.00000000e+00, 6.58600000e+03, 1.00000000e+00, ...,
        0.00000000e+00, 1.80000000e+01, 5.30359023e-02],
       [2.00000000e+00, 1.57320000e+04, 1.00000000e+00, ...,
        0.00000000e+00, 1.90000000e+01, 5.30359023e-02],
       ...,
       [6.80000000e+01, 4.59700000e+03, 1.00000000e+00, ...,
        4.00000000e+00, 1.10000000e+01, 6.20617868e-03],
       [3.00000000e+00, 5.65500000e+03, 1.00000000e+00, ...,
        1.00000000e+00, 1.80000000e+01, 4.75966751e-02],
       [6.00000000e+00, 2.82160000e+04, 0.00000000e+00, ...,
        2.20000000e+01, 1.10000000e+01, 1.74884625e-02]])

In [60]:
from xgboost import XGBClassifier

In [61]:
from sklearn.metrics import accuracy_score

In [62]:
xg_model1 = XGBClassifier(max_depth=5, learning_rate=0.3, n_estimators=200, n_jobs=-1)

In [ ]:
xg_model1.fit(x_train, y1_train)

/home/jupyter/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/jupyter/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [165]:
y1_hat_train = xg_model1.predict(x_train)

In [166]:
y

0.96979797300084

In [167]:
xg_model2 = XGBClassifier(max_depth=5, learning_rate=0.3, n_estimators=200, n_jobs=-1)

In [168]:
xg_model2.fit(x_train, y2_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.3, max_delta_step=0,
       max_depth=5, min_child_weight=1, missing=None, n_estimators=200,
       n_jobs=-1, nthread=None, objective='binary:logistic',
       random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=None, silent=True, subsample=1)

In [169]:
y2_hat_train = xg_model2.predict(x_train)

In [170]:
y2_hat_train = xg_model2.predict(x_train)

In [171]:
accuracy_score(y2_train, y2_hat_train)

0.9646501592208058

In [172]:
y1_hat_test = xg_model1.predict(x_test)
y2_hat_test = xg_model2.predict(x_test)

In [173]:
accuracy_score(y2_test, y2_hat_test)

0.9594446082504624

In [174]:
accuracy_score(y1_test, y1_hat_test)

0.9668828906103413

In [175]:
!ls ../ | grep sample

attributes_sample.csv
events_sample.csv
sample_submission_2.csv
sessions_sample.csv

In [176]:
! head ../sample_submission_2.csv

user_id_hash,user_purchase_binary_7_days,user_purchase_binary_14_days
e469dfaed039ead9110165d9bc457acb11609ca34057dc77aad7c5e266b3c09f,0.01,0.02
afcc639a324b6c598ef83d360450afa011cb2dd1358bf95acbf29decbe3bf4e2,0.01,0.02
fd5a7cf211d08e3e00f7be6a9df6e6ea3d2e5c22a5d9c37a867730a869f661a9,0.01,0.02
00bfff98b9d0329f014c2eeac7ce47cd18b2bc6e10d608dcb18625c9957398b5,0.01,0.02
0d298f3638c43e915c119d4935e1ce8d168f81b5e3e8c16e422524c298adfbe7,0.01,0.02
7f7e3c5da13a555b2c2047c2c94b45d289ffa8083908cb55a9d32692d675aac7,0.01,0.02
28b5edd0510e8517462bae9d67a99f272d8ccc8ba2f79d65624f98c6a8a50012,0.01,0.02
b9433b9c4d559218e64469b6807cb516a5866572c1c30bb75f7ecb9ee5379ef7,0.01,0.02
607da741597a3b15fecf9a30c76e2e418b629c975e069aba60af709a277e84b9,0.01,0.02

# submission

In [177]:
features.week_start.unique()

array(['2018-10-01T00:00:00.000000000', '2018-10-08T00:00:00.000000000',
       '2018-10-15T00:00:00.000000000', '2018-10-22T00:00:00.000000000',
       '2018-10-29T00:00:00.000000000', '2018-11-05T00:00:00.000000000',
       '2018-11-12T00:00:00.000000000', '2018-11-19T00:00:00.000000000',
       '2018-11-26T00:00:00.000000000', '2018-12-03T00:00:00.000000000',
       '2018-12-10T00:00:00.000000000'], dtype='datetime64[ns]')

In [178]:
submission = pd.read_csv('../sample_submission_2.csv')

In [179]:
req_uids = set(submission.user_id_hash)

In [180]:
dates = features.week_start.dt.date.unique()

In [181]:
dates.sort()

In [182]:
dates

array([datetime.date(2018, 10, 1), datetime.date(2018, 10, 8),
       datetime.date(2018, 10, 15), datetime.date(2018, 10, 22),
       datetime.date(2018, 10, 29), datetime.date(2018, 11, 5),
       datetime.date(2018, 11, 12), datetime.date(2018, 11, 19),
       datetime.date(2018, 11, 26), datetime.date(2018, 12, 3),
       datetime.date(2018, 12, 10)], dtype=object)

In [183]:
req_uids = set(submission.user_id_hash)
run_ids = req_uids
predict_df = pd.DataFrame(columns=['user_id_hash',
                                   'user_purchase_binary_7_days',
                                   'user_purchase_binary_14_days'])

for dts in reversed(dates):
    t = features.loc[(features.user_id_hash.isin(run_ids)) &\
                     (features.week_start == dts), feature_cols].values
    cur_uids = features.loc[(features.user_id_hash.isin(run_ids)) &\
                     (features.week_start == dts), ['user_id_hash']].values

    pp1 = xg_model1.predict_proba(t)
    pp2 = xg_model2.predict_proba(t)

    print(f'{dts}: {pp1[:, 1].shape}')
    temp = pd.DataFrame(data={'user_id_hash': cur_uids.reshape(-1),
                              'user_purchase_binary_7_days': pp1[:,1],
                              'user_purchase_binary_14_days': pp2[:,1]})
    predict_df = pd.concat([predict_df, temp])
    run_ids = run_ids - set(cur_uids.reshape(-1))
    print(len(list(run_ids)))

/home/jupyter/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and 'the values will not compare equal to the
'datetime.date'. To retain the current behavior, convert the
'datetime.date' to a datetime with 'pd.Timestamp'.
  if __name__ == '__main__':
/home/jupyter/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and 'the values will not compare equal to the
'datetime.date'. To retain the current behavior, convert the
'datetime.date' to a datetime with 'pd.Timestamp'.
  # This is added back by InteractiveShellApp.init_path()

2018-12-10: (16078,)
296490
2018-12-03: (12312,)
284178
2018-11-26: (27373,)
256805
2018-11-19: (36462,)
220343
2018-11-12: (35441,)
184902
2018-11-05: (34747,)
150155
2018-10-29: (34385,)
115770
2018-10-22: (33293,)
82477
2018-10-15: (31835,)
50642
2018-10-08: (27642,)
23000
2018-10-01: (21997,)
1003

In [184]:
predict_df.head()

,user_id_hash,user_purchase_binary_7_days,user_purchase_binary_14_days
0,00000db35682058bb7916cb90f85709f54c1a0f7a3b6de...,0.031334,0.068852
1,000640d9f785d21ded61bdff159144b25dea23300ae1b8...,0.010067,0.006221
2,00098f33baf63f15d2b801a712d5609a1b132cebb30bc5...,0.005320,0.005339
3,000d99c8e82878915b33ffe27ac3585ce9fb7cd4b82ace...,0.405542,0.576305
4,00124c21b3ec87a2f17f884c5eee25462b67d489ebad09...,0.041159,0.051097

In [185]:
predict_df.drop_duplicates(inplace=True)

In [186]:
predict_df.shape

(311565, 3)

In [187]:
submission.shape

(312568, 3)

In [188]:
submission.shape

(312568, 3)

In [189]:
left_out = list(set(submission.user_id_hash.unique()) - set(predict_df.user_id_hash.unique()))

In [192]:
predict_df.user_purchase_binary_7_days.median()

0.005480049178004265

In [193]:
predict_df.user_purchase_binary_14_days.median()

0.007323031779378653

In [194]:
temp = pd.DataFrame(data={'user_id_hash': left_out,
                          'user_purchase_binary_7_days': 0.005 * np.ones(len(left_out)),
                          'user_purchase_binary_14_days': 0.007 * np.ones(len(left_out))})

In [195]:
temp.shape

(1003, 3)

In [196]:
predict_df = pd.concat([predict_df, temp])

In [197]:
predict_df.shape

(312568, 3)

In [198]:
left_out = list(set(submission.user_id_hash.unique()) - set(predict_df.user_id_hash.unique()))

In [199]:
left_out

[]

In [200]:
predict_df.to_csv('../third_sub.csv', index=False, float_format='%.3f')