# Common

In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [16, 6]
plt.style.use('ggplot')

In [3]:
import gc

In [4]:
from concurrent.futures import ProcessPoolExecutor, as_completed
from fastprogress import progress_bar

def parallel(func, job_list, n_jobs=12):
    with ProcessPoolExecutor(max_workers=n_jobs) as pool:
        futures = [pool.submit(func, job) for job in job_list]
        for f in progress_bar(as_completed(futures), total=len(job_list)):
            pass
    return [f.result() for f in futures]

In [5]:
from warnings import filterwarnings

In [6]:
filterwarnings("ignore")

In [7]:
import datetime as dt

In [8]:
def to_dt(x):
    return dt.datetime.fromtimestamp(int(x/1000))

In [9]:
from multiprocessing import Pool

In [10]:
num_partitions = 100
num_cores = 12
def parallelize_dataframe(df, func):
    df_split = np.array_split(df, num_partitions)
    pool = Pool(num_cores)
    df = pd.concat(pool.map(func, df_split))
    pool.close()
    pool.join()
    return df

# Agg Sessions

In [130]:
sessions = pd.read_pickle('../session.pkl')

In [49]:
sessions.shape

(5165760, 21)

In [52]:
sessions.dtypes

session_id                          category
start_timestamp                        int64
timezone                            category
timezone_offset                     category
previous_sessions_duration             int64
user_created_timestamp                 int64
is_user_first_session                   bool
country                             category
region                              category
city                                category
latitude                             float64
longitude                            float64
locale                              category
os_name                             category
session_index                          int64
device_id                           category
user_id_hash                        category
user_time                     datetime64[ns]
system_time                   datetime64[ns]
week_start                    datetime64[ns]
user_days                           category
dtype: object

In [51]:
sessions.sort_values(['system_time', 'user_id_hash'], inplace=True)

In [9]:
# sessions.set_index(['week_start', 'user_id_hash'], inplace=True)

In [131]:
sessions = sessions.loc[:, ['user_created_timestamp', 'user_id_hash']]

In [57]:
sessions.drop_duplicates(inplace=True)

In [58]:
sessions.shape

(619779, 2)

In [132]:
sessions.reset_index(inplace=True, drop=True)

In [133]:
sessions.user_created_timestamp = sessions.user_created_timestamp.apply(to_dt)

In [134]:
sessions.head()

  user_created_timestamp                                       user_id_hash
0    2018-10-07 01:04:49  9943447915df3a45fd6720a026af905b6da6b56a37701b...
1    2018-10-07 01:04:49  9943447915df3a45fd6720a026af905b6da6b56a37701b...
2    2018-10-07 01:04:49  9943447915df3a45fd6720a026af905b6da6b56a37701b...
3    2018-10-07 01:04:49  9943447915df3a45fd6720a026af905b6da6b56a37701b...
4    2018-10-07 01:04:49  9943447915df3a45fd6720a026af905b6da6b56a37701b...

In [135]:
sessions.user_created_timestamp = sessions.user_created_timestamp.dt.date

In [12]:
def weekly_aggregate(df, t='week_start'):
    grp_cols = [t, 'user_id_hash']
    grpby_obj = df.groupby(grp_cols)
    # number of sessions
    temp = grpby_obj.city.count().to_frame().reset_index().\
                rename(columns={'city': 'no_city'})
    # median city
    # temp1 = grpby_obj.city.agg(lambda x: x.value_counts().index[0]
    #                            ).to_frame().reset_index()
    # last city
    temp1 = grpby_obj.city.last().to_frame().reset_index()
    
    # is user's first week
    temp2 = grpby_obj.is_user_first_session.max().to_frame().reset_index()

    # median country
    # temp3 = grpby_obj.country.agg(lambda x: x.value_counts().index[0]
    #                               ).to_frame().reset_index()
    temp3 = grpby_obj.country.last().to_frame().reset_index()

    # no of country
    temp4 = grpby_obj.country.agg(lambda x: x.unique().shape[0]
                                  ).to_frame().reset_index().\
                        rename(columns={'country': 'country_count'})
    # median region
    # temp5 = grpby_obj.region.agg(lambda x: x.value_counts().index[0]
    #                              ).to_frame().reset_index()
    temp5 = grpby_obj.region.last().to_frame().reset_index()

    # no of region
    temp6 = grpby_obj.region.agg(lambda x: x.unique().shape[0]
                                  ).to_frame().reset_index().\
                        rename(columns={'region': 'region_count'})
    # median locale
    # temp7 = grpby_obj.locale.agg(lambda x: x.value_counts().index[0]
    #                              ).to_frame().reset_index()
    temp7 = grpby_obj.locale.last().to_frame().reset_index()

    # median os_name
    # temp8 = grpby_obj.os_name.agg(lambda x: x.value_counts().index[0]
    #                               ).to_frame().reset_index()
    temp8 = grpby_obj.os_name.last().to_frame().reset_index()

    # no of days active
    temp9 = grpby_obj.user_days.agg(lambda x: x.unique().shape[0]).\
                to_frame().reset_index()
    # agg session time
    temp10 = grpby_obj.previous_sessions_duration.sum().\
                    to_frame().reset_index().\
                    rename(columns={'previous_sessions_duration': 'total_session_time'})
    # mean session time
    temp11 = grpby_obj.previous_sessions_duration.mean().\
                to_frame().reset_index().\
                rename(columns={'previous_sessions_duration': 'mean_session_time'})

    # mean session time
    temp12 = grpby_obj.previous_sessions_duration.median().\
                to_frame().reset_index().\
                rename(columns={'previous_sessions_duration': 'median_session_time'})

    
    for i in range(1, 13):
        temp = temp.merge(locals()[f'temp{i}'], 
                          on=grp_cols)
    return temp

In [13]:
def wrapper_agg(wst):
    sessions_ss = sessions[sessions.week_start == wst].copy()
    return weekly_aggregate(sessions_ss)

In [15]:
week_dates = sessions.week_start.dt.date.unique()

In [18]:
result = parallel(wrapper_agg, week_dates)
result = pd.concat(result)

In [21]:
result.head(2).T

,0,1
week_start,2018-10-01 00:00:00,2018-10-01 00:00:00
user_id_hash,000062e9be78f3da274fec338e78f89d12000e781967f2...,00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd...
no_city,5,2
city,campbell,douglasville
is_user_first_session,True,True
country,US,US
country_count,1,1
region,ca,ga
region_count,1,1
locale,en_US,en_US
os_name,Android OS,Android OS
user_days,1,2
total_session_time,4730609,403432
mean_session_time,946122,201716
median_session_time,1.1769e+06,201716

In [22]:
result.to_pickle('../session_agg.pkl')

# Agg Events

In [75]:
gc.collect()

2325

In [76]:
events = pd.read_pickle('../events.pkl')

In [77]:
events.shape

(111946597, 9)

In [78]:
events.dtypes

session_id               category
event                    category
event_timestamp             int64
event_value               float64
user_id_hash             category
event_type               category
system_time        datetime64[ns]
system_date              category
week_start               category
dtype: object

In [80]:
events['system_time'] = events.event_timestamp.apply(lambda x: to_dt(x))

In [39]:
events.event.value_counts()

45                              75493931
1                                5363926
5                                4887922
6                                4068474
14                               3491117
4                                3435363
40                               2775997
7                                1970903
41                               1969223
3                                1828494
42                               1598212
.a5027911885258752                618037
.a5400102822346752                604699
44                                495590
.a5516611293544448                411053
0                                 407118
63                                347198
47                                310038
57                                271268
8                                 265034
55                                194341
.m5295687445250048                181875
.a5061295285075968                 92645
50                                 88641
9                                  85832
.m6311698772393984                 74149
11                                 68328
64                                 67966
.a5686782234722304                 53717
54                                 51687
                                  ...
.c4673994986356736 Exit               16
.a4955822838251520                    15
.m5411830689693696                    15
.m5894328212389888                    13
.m5894328212389888 Accept             10
.m6386247411433472 Accept              8
.m6209287803633664 Held Back           7
.a4640834587066368                     6
.a5924766976704512                     5
.a4920882459443200                     4
.m5666730055958528 Accept              3
.m4912602330693632 Held Back           3
.m5243740553347072 Held Back           3
.a6278994001788928                     3
.m5666730055958528                     3
.m5243740553347072                     3
.m4912602330693632 Bounce              2
.a6030168535203840                     2
.m5243740553347072 Accept              2
32                                     1
.a4767693735067648                     1
.m5411830689693696 Held Back           1
.m5411830689693696 Accept              1
.a6017451431428096                     1
.a5087083622694912                     1
.m4592402159501312                     1
.m4545368715427840 Accept              1
.a6666568788738048                     1
.a6266265261441024                     1
.a4575955121471488                     1
Name: event, Length: 109, dtype: int64

In [41]:
events['event_type'] = 'custom'

In [43]:
events.loc[events.event.str.startswith('.a'), ['event_type']] = 'ab'

In [44]:
events.loc[events.event.str.startswith('.c'), ['event_type']] = 'campaing'

In [45]:
events.loc[events.event.str.startswith('.m'), ['event_type']] = 'message'

In [46]:
events.event_type.value_counts()

custom      109627861
ab            1855428
message        463225
campaing           83
Name: event_type, dtype: int64

In [52]:
events.event_type = events.event_type.astype('category')

In [61]:
events.head()

,event,event_value,user_id_hash,event_type,system_time
0,45,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,custom,2018-11-14 17:09:57
1,45,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,custom,2018-11-14 17:11:24
2,.m5100869650219008,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,message,2018-11-02 02:06:50
3,4,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,custom,2018-12-02 01:11:31
4,6,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,custom,2018-12-02 01:11:33

In [9]:
from multiprocessing import Pool

In [37]:
num_partitions = 100
num_cores = 12
def parallelize_dataframe(df, func):
    df_split = np.array_split(df, num_partitions)
    pool = Pool(num_cores)
    df = pd.concat(pool.map(func, df_split))
    pool.close()
    pool.join()
    return df

In [38]:
def wrapper_get_week_start(df):
    
    df['week_start'] = (df.system_time - \
                            df.system_time.dt.weekday.astype('timedelta64[D]')).dt.date
    return df

In [28]:
temp = parallelize_dataframe(events['system_time'].to_frame(), wrapper_get_week_start)

In [27]:
temp = parallelize_dataframe(events['system_time'].to_frame(), wrapper_get_week_start)
events['week_start'] = temp.week_start

In [29]:
events['week_start'] = events.week_start.astype('category')

In [35]:
events['system_date'] = events.system_date.astype('category')

In [30]:
events.dtypes

session_id               category
event                    category
event_timestamp             int64
event_value               float64
user_id_hash             category
event_type               category
system_time        datetime64[ns]
system_date                object
week_start               category
dtype: object

In [32]:
events.sort_values(['system_time', 'user_id_hash'], inplace=True)

In [66]:
events.reset_index(drop=True, inplace=True)

In [67]:
events.head()

,session_id,event,event_timestamp,event_value,user_id_hash,event_type,system_time,system_date,week_start
0,4339488202460077611,.a5027911885258752,1538377204526,0.0,c9bad12f865142f1b3938c9ab8a3003a7882136a2b4a12...,ab,2018-10-01 07:00:04,2018-10-01,2018-10-01
1,4339488202460077611,.a5061295285075968,1538377204526,0.0,c9bad12f865142f1b3938c9ab8a3003a7882136a2b4a12...,ab,2018-10-01 07:00:04,2018-10-01,2018-10-01
2,7012480646309837595,.a5027911885258752,1538377208476,0.0,285863e47df26bf47664c93d45c35ee3b9cfc8e253da23...,ab,2018-10-01 07:00:08,2018-10-01,2018-10-01
3,7012480646309837595,44,1538377240514,0.0,285863e47df26bf47664c93d45c35ee3b9cfc8e253da23...,custom,2018-10-01 07:00:40,2018-10-01,2018-10-01
4,7012480646309837595,5,1538377242744,0.0,285863e47df26bf47664c93d45c35ee3b9cfc8e253da23...,custom,2018-10-01 07:00:42,2018-10-01,2018-10-01

In [84]:
events.to_pickle('../events.pkl')

In [82]:
gc.collect()

971

In [85]:
events = pd.read_pickle('../events.pkl')

In [48]:
purchase = events.loc[events.event == '8', :].copy()

In [49]:
purchase.shape

(265034, 9)

In [50]:
purchase.to_pickle('../purchase.pkl')

In [51]:
events.shape

(111946597, 9)

In [86]:
events = events[events.event != '8']

In [87]:
events.shape

(111681563, 9)

In [71]:
events_sub = events[:1000].copy()

In [72]:
events_sub.event_value.describe()

count    1000.000000
mean        0.515000
std         2.874376
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        25.000000
Name: event_value, dtype: float64

In [73]:
events_sub.event_value.value_counts()

0.0     951
1.0      18
20.0     11
12.0      9
15.0      7
16.0      1
18.0      1
25.0      1
5.0       1
Name: event_value, dtype: int64

In [75]:
# events_sub.pivot_table(values='event_value', index=['week_start', 'user_id_hash'],
#                        columns='event_type', aggfunc='count')

In [11]:
gc.collect()

7

In [88]:
events.drop(['session_id', 'event_timestamp', 'system_time', 'system_date'], inplace=True, axis=1)

In [79]:
events.dtypes

event           category
event_value      float64
user_id_hash    category
event_type      category
week_start      category
dtype: object

In [89]:
events.event_type.value_counts()

custom      109362827
ab            1855428
message        463225
campaing           83
Name: event_type, dtype: int64

In [90]:
{'ab': 97, 'message': 98, 'campaing': 99}

{'ab': 97, 'message': 98, 'campaing': 99}

In [91]:
events.event = events.event.cat.add_categories([97, 98, 99])

In [92]:
events.loc[events.event_type == 'ab', 'event'] = 97
events.loc[events.event_type == 'message', 'event'] = 98
events.loc[events.event_type == 'campaing', 'event'] = 99

In [93]:
events.event = events.event.cat.remove_unused_categories()

In [108]:
events.event.value_counts()

45    75493931
1      5363926
5      4887922
6      4068474
14     3491117
4      3435363
40     2775997
7      1970903
41     1969223
97     1855428
3      1828494
42     1598212
44      495590
98      463225
0       407118
63      347198
47      310038
57      271268
55      194341
50       88641
9        85832
11       68328
64       67966
54       51687
43       23850
49       17955
48       11912
56        8267
52        6688
59        6651
60        6370
58        4167
10        2362
51        1446
61        1062
62         464
99          83
0/          35
1/          28
32           1
Name: event, dtype: int64

In [94]:
drop_events = ['56', '52', '59', '60', '58', '10', '51',
               '61', '62', '99', '0/', '1/', '32']

In [95]:
for e in drop_events:
    even = events[events.event != e]

In [112]:
events.dtypes

event           category
event_value      float64
user_id_hash    category
event_type      category
week_start      category
dtype: object

In [96]:
events.drop(['event_type'], inplace=True, axis=1)

In [115]:
events.dtypes

event           category
event_value      float64
user_id_hash    category
week_start      category
dtype: object

In [116]:
events.event_value.value_counts()

0.000000e+00    106109102
1.000000e+00      3629009
2.000000e+01       470187
1.200000e+01       357089
2.500000e+01       261102
1.500000e+01       199618
1.600000e+01       149336
1.700000e+01       139359
1.800000e+01       129954
1.900000e+01        92000
3.000000e+01        61014
5.000000e+00        55729
4.000000e+00         7594
1.400000e+01         6236
1.000000e+01         4281
3.000000e+00         3535
3.600000e+01         2215
7.000000e+00         2186
2.000000e+00          826
5.000000e+01          330
4.294967e+09          241
4.800000e+01          180
2.300000e+01          169
4.294967e+09           51
4.294967e+09           36
4.294967e+09           11
4.294967e+09            9
3.500000e+01            9
9.000000e+00            8
4.294967e+09            6
                  ...
1.000000e+09            2
4.294967e+09            1
4.294967e+09            1
4.294973e+08            1
4.294967e+09            1
4.293967e+09            1
4.294967e+09            1
4.293967e+09            1
4.294967e+09            1
4.294967e+09            1
4.294967e+09            1
4.294967e+09            1
4.294967e+09            1
4.294967e+09            1
4.294967e+09            1
4.294967e+09            1
9.900000e+01            1
1.000000e+09            1
2.100000e+01            1
4.294967e+09            1
9.999998e+07            1
9.999969e+06            1
9.999930e+05            1
2.900000e+01            1
3.200000e+01            1
9.998100e+04            1
4.000000e+01            1
4.294967e+09            1
6.000000e+01            1
1.000000e+09            1
Name: event_value, Length: 76, dtype: int64

In [117]:
events_sub = events[:3000].copy()

In [119]:
events_sub = events_sub[events_sub.week_start == '2018-10-01']

In [97]:
def weekly_aggregate(df):

    grp_cols = ['week_start', 'event', 'user_id_hash']
    grpby_obj = df.groupby(grp_cols)
    
    temp = grpby_obj.event_value.count().to_frame().reset_index()\
                .rename(columns={'event_value': 'event_count'})
    temp1 = grpby_obj.event_value.sum().to_frame().reset_index()\
                .rename(columns={'event_value': 'event_sum'})
    temp2 = grpby_obj.event_value.mean().to_frame().reset_index()\
                .rename(columns={'event_value': 'event_mean'})

    for i in range(1, 3):
        temp = temp.merge(locals()[f'temp{i}'], 
                          on=grp_cols)
    return temp

In [126]:
result = weekly_aggregate(events_sub)

In [136]:
result.head()

,event,user_id_hash,event_count,event_sum,event_mean
0,0,ac6c2e659dbfbac273cd47c4a3aea9833e1b72e3afc8db...,1,0.0,0.0
1,0,be4f8aace99f98e60c4056822c54d141b1f53f58462231...,1,0.0,0.0
2,0,f8f57eeab62685b817353f70384952b6ee019e1738ebbd...,1,0.0,0.0
3,1,069fd1a9e916d4369e382e23e2aabda6409fe96ee60f93...,1,0.0,0.0
4,1,06f5949e56fcd2137cebf2ebe46044814816e22ff129bb...,1,0.0,0.0

In [128]:
result.event_mean.describe()

count    875.000000
mean       1.430933
std        4.828495
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max       30.000000
Name: event_mean, dtype: float64

In [129]:
result.event_sum.describe()

count    875.000000
mean       2.014857
std        7.595374
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max       65.000000
Name: event_sum, dtype: float64

In [98]:
week_dates = events.week_start.dt.date.unique()

In [99]:
gc.collect()

7

In [100]:
def wrapper_agg(wst):
    events_ss = events[events.week_start == wst].copy()
    return weekly_aggregate(events_ss)

result = parallel(wrapper_agg, week_dates)
result = pd.concat(result)

In [101]:
result.shape

(8029501, 6)

In [102]:
result.head()

,week_start,event,user_id_hash,event_count,event_sum,event_mean
0,2018-10-01,0,0008ae1788be9473a11dd8efdc61010ad2a54ffe5e17ad...,1,0.0,0.0
1,2018-10-01,0,000c653971c4cdb4a930ebb9de12c8587f8c46cdf1bdf5...,1,0.0,0.0
2,2018-10-01,0,001341dc1ffc939af25106b66a54ea318c15a03d7d699a...,1,0.0,0.0
3,2018-10-01,0,001649233906501efe5899fc693500a233220cfc02be0d...,1,0.0,0.0
4,2018-10-01,0,001b256fc745aff7b582d02dd1e7d9209a7b6c486b4cf2...,1,0.0,0.0

In [103]:
result.to_pickle('../events_agg.pkl')

# Agg Atrributes

## combining

In [11]:
attrib = pd.read_pickle('../../attributes2.pkl')

In [12]:
attrib.dtypes

session_id         category
attribute             uint8
attribute_value      object
user_id_hash       category
dtype: object

In [13]:
attrib.shape

(185590092, 4)

In [15]:
attrib.head()

,session_id,attribute,attribute_value,user_id_hash
0,2201961907282901522,0,1,9943447915df3a45fd6720a026af905b6da6b56a37701b...
1,2201961907282901522,1,1,9943447915df3a45fd6720a026af905b6da6b56a37701b...
2,2201961907282901522,3,0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
3,2201961907282901522,4,0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
4,2201961907282901522,5,romance_the_royal_romance_02:11,9943447915df3a45fd6720a026af905b6da6b56a37701b...

In [14]:
events = pd.read_pickle('../data/sessions.pkl')

In [31]:
events.head()

,session_id,timezone,timezone_offset,previous_sessions_duration,user_created_timestamp,is_user_first_session,country,region,city,latitude,longitude,locale,os_name,session_index,user_id_hash,user_time,system_time,system_date,anchor_date
0,4339488202460077611,Australia/Sydney,36000000,0,2018-10-01 07:00:04,True,AU,qld,gold coast,-28.016666,153.399994,en-AU_AU,iPhone OS,1,c9bad12f865142f1b3938c9ab8a3003a7882136a2b4a12...,17,2018-10-01 07:00:04,2018-10-01,2018-10-01
1,7012480646309837595,Pacific/Auckland,46800000,0,2018-10-01 07:00:08,True,NZ,auk,auckland,-36.848461,174.763336,en-NZ_NZ,iOS,1,285863e47df26bf47664c93d45c35ee3b9cfc8e253da23...,20,2018-10-01 07:00:08,2018-10-01,2018-10-01
2,2920311224184894615,Asia/Kolkata,19800000,1000637,2018-10-01 06:44:08,False,IN,tg,hyderabad,17.385044,78.486671,en_US,Android OS,2,475f8f20576637055c5331513dda4db1d889f5e951c8e5...,12,2018-10-01 07:01:02,2018-10-01,2018-10-01
3,8483277250870486701,America/Chicago,-18000000,0,2018-10-01 07:01:30,True,US,tx,houston,29.760427,-95.369804,en_US,Android OS,1,4bc7b52d56b24d258ba1746994492f354fd4b17fcaae81...,2,2018-10-01 07:01:30,2018-10-01,2018-10-01
4,8114762104527844914,America/Los_Angeles,-25200000,2415582,2018-10-01 06:18:23,False,US,ca,sacramento,38.581573,-121.494400,en_US,Android OS,2,82349b0d1a80b42e59519068ded46178778084b9602b9c...,0,2018-10-01 07:01:57,2018-10-01,2018-10-01

In [15]:
events = events.loc[:, ['session_id', 'system_time']]

In [33]:
events.shape

(5165760, 2)

In [16]:
events.drop_duplicates(inplace=True)

In [35]:
events.shape

(5165730, 2)

In [17]:
events.reset_index(inplace=True, drop=True)

In [18]:
events.session_id = events.session_id.astype('category')

In [38]:
events.head()

            session_id         system_time
0  4339488202460077611 2018-10-01 07:00:04
1  7012480646309837595 2018-10-01 07:00:08
2  2920311224184894615 2018-10-01 07:01:02
3  8483277250870486701 2018-10-01 07:01:30
4  8114762104527844914 2018-10-01 07:01:57

In [19]:
events_d = events.groupby(['session_id'])['system_time'].last().to_frame()

In [20]:
events_d.reset_index(inplace=True)

In [41]:
events_d.head()

            session_id         system_time
0  1000000874609429755                 NaT
1   100000246528643894 2018-11-07 14:45:09
2  1000003546493394404 2018-11-06 13:05:19
3  1000004963329986136 2018-11-08 07:37:13
4  1000005015636510449 2018-11-10 20:25:09

In [21]:
events = events_d

In [22]:
import gc
gc.collect()

35

In [44]:
events.dtypes

session_id           category
system_time    datetime64[ns]
dtype: object

In [45]:
attrib.dtypes

session_id         category
attribute             uint8
attribute_value      object
user_id_hash       category
dtype: object

In [23]:
attrib.session_id = attrib.session_id.astype(np.int64)
events.session_id = events.session_id.astype(np.int64)

In [24]:
attrib = attrib.merge(events, how='left' ,on=['session_id'])

In [25]:
attrib.shape

(185590092, 5)

In [49]:
attrib.head()

,session_id,attribute,attribute_value,user_id_hash,system_time
0,2201961907282901522,0,1,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02 01:09:37
1,2201961907282901522,1,1,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02 01:09:37
2,2201961907282901522,3,0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02 01:09:37
3,2201961907282901522,4,0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02 01:09:37
4,2201961907282901522,5,romance_the_royal_romance_02:11,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02 01:09:37

In [26]:
del events

In [27]:
attrib.drop(['session_id'], inplace=True, axis=1)

In [28]:
gc.collect()

28

In [39]:
attrib.to_pickle('../attributes3.pkl')

In [50]:
attrib = pd.read_pickle('../attributes3.pkl')

In [54]:
attrib.head()

,attribute,attribute_value,user_id_hash,system_time
0,0,1,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02 01:09:37
1,1,1,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02 01:09:37
2,3,0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02 01:09:37
3,4,0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02 01:09:37
4,5,romance_the_royal_romance_02:11,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02 01:09:37

In [29]:
attrib['system_date'] = attrib.system_time.dt.date

In [30]:
attrib.attribute = attrib.attribute.astype('category')

In [57]:
attrib.dtypes

attribute                category
attribute_value            object
user_id_hash             category
system_time        datetime64[ns]
system_date                object
dtype: object

In [31]:
attrib.drop(['system_time'], inplace=True, axis=1)

In [59]:
attrib.head()

,attribute,attribute_value,user_id_hash,system_date
0,0,1,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02
1,1,1,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02
2,3,0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02
3,4,0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02
4,5,romance_the_royal_romance_02:11,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02

## Attributes EDA

In [49]:
attrib.attribute.value_counts()

16    6776351
15    6776351
1     6776351
3     6776351
4     6776351
5     6776351
6     6776351
7     6776351
8     6776351
9     6776351
10    6776351
11    6776351
13    6776351
14    6776351
0     6776351
17    6776351
18    6776351
19    6776351
20    6776351
21    6776351
52    6776351
75    6776297
76    6776297
77    6776297
78    6685459
66    6614104
48    6183014
67    3395545
96      79643
49         65
Name: attribute, dtype: int64

In [25]:
for a in attrib.attribute.unique():
    print(a)
    try:
        print(attrib.loc[attrib.attribute == a, :].attribute_value.unique())
    except:
        print('dict')

0
[1 0 2 3 4 6 15 9 10 7 11 8 5 14 12 18 16 13 17 19 27 20 21 91 33 56 23 22
 26 25 28 30 31 29 24 40 37 39 36 35 38 32 34 47 44 51 41 52 43 50 46 70
 187 170 76 42 45 48 60 77 85 55 75 58 69 87 94 66 49 81 73 62 93 57 59 80
 86 61 97 53 74 177 100 54 63 84 71 112 166 178 64 117 88 68 195 78 105
 181 167 179 131 114 155 83 107 137 109 82 102 67 165 92 72 65 79 108 126
 90 101 161 89 154 182 160]
1
[1 0 9 ... 1743 1727 1692]
3
[0 6 10 5 4 1 2 3 22 12 24 20 28 23 25 16 19 13 11 18 21 9 27 8 26 29 7 14
 17 15 30 34 32 104 107 59 142 109 49 72 86 68 110 127 119 135 120 96 67
 122 146 47 121 35 55 89 103 31 101 105 74 39 148 139 133 157 108 95 114
 116 126 134 143 117 123 112 141 155 152 33 94 79 124 128 125 88 54 75 50
 87 82 83 69 147 84 91 118 76 97 115 46 106 140 71 41 77 43 78 93 149 144
 136 145 270 268 267 232 281 214 295 294 209 241 211 230 239 238 210 225
 298 219 222 284 299 215 256 296 245 261 260 272 300 259 249 221 99 61 131
 132 85 52 60 98 102 100 80 129 62 63 53 58 81 51 130 113 90 92 111 70 73
 65 56 64 66 150 138 37 48 137 42 44 57 153 38 36 40 168 170 172 160 177
 171 164 162 166 151 161 167 45 173 169 181 174 193 154 156 180 163 158
 165 182 179 190 159 189 183 223 188 196 205 233 229 206 235 227 186 226
 201 195 213 191 224 623 187 176 208 178 175 262 264 185 203 204 198 202
 207 194 218 197 319 324 325 323 321 320 316 317 365 359 184 192 275 285
 283 287 291 282 286 289 234]
4
[0.0 0.01 0.43 0.58 0.55 0.14 0.47 0.32 0.51 0.57 0.12 0.13 0.03 0.3 0.26
 0.18 0.4 0.44 0.52 0.56 0.25 0.29 0.6 0.64 0.27 0.31 0.49 0.23 0.61 0.39
 0.53 0.06 0.19 0.09 0.05 0.36 0.65 0.04 0.38 0.08 0.1 0.21 0.17 0.22 0.16
 0.35 0.34 0.07 2.01 2.15 1.53 1.9 0.88 1.22 1.56 1.91 0.91 0.71 2.35 1.18
 1.55 2.33 0.45 2.77 2.28 1.5 1.89 1.11 1.08 2.26 2.51 2.54 2.18 2.2 0.95
 1.78 2.05 1.31 2.68 1.27 2.55 1.85 1.38 1.25 2.46 1.73 2.3 0.96 1.07 1.51
 2.5 2.42 2.61 2.81 2.16 0.94 2.08 2.8 1.46 2.76 2.74 1.14 1.12 2.02 2.39
 1.99 1.57 0.75 2.07 2.13 1.37 1.94 1.39 1.87 1.0 2.0 1.64 2.29 0.92 2.09
 2.12 0.83 2.37 1.43 1.42 1.44 1.69 1.68 1.34 2.69 2.7 0.69 1.98 0.81 1.72
 1.6 1.76 1.82 1.92 1.13 0.98 0.85 2.48 1.29 1.05 0.74 0.77 2.17 1.48 2.64
 1.63 0.87 2.11 1.77 1.66 1.47 1.7 1.79 1.86 1.96 1.4 1.26 0.79 2.22 2.31
 1.74 0.68 0.66 0.62 0.48 0.42 0.33 0.86 0.02 1.65 0.99 1.09 0.78 1.03
 0.82 1.01 0.9 1.04 0.7 0.73 1.58 3.0 1.06 1.33 1.24 1.17 1.21 2.95 0.46
 1.2 1.16 7.77 2.82 2.25 2.63 3.39 3.17 2.21 2.91 3.13 3.52 3.11 3.38 3.12
 2.24 3.26 3.65 2.96 2.89 3.7 2.94 3.35 3.2 3.54 2.9 3.33 2.67 3.47 3.6
 1.95 3.05 3.04 3.15 1.52 2.73 2.87 3.44 3.67 2.41 3.18 1.59 3.69 3.56
 3.64 3.3 3.68 3.51 1.3 3.76 3.61 3.77 3.83 2.34 3.55 3.22 2.86 3.16 3.29
 3.8 2.57 1.61 2.47 3.31 3.81 2.98 3.86 3.74 3.82 3.02 3.34 2.99 2.83 3.24
 2.56 2.6 3.59 2.44 3.48 2.03 1.35 2.66 1.8 0.84 0.2 2.04 0.11 3.09 1.83
 2.78 3.21 3.03 2.72 3.08 2.38 2.59 2.85 3.07 2.43 0.41 0.72 0.15 2.65
 3.28 2.52 2.93 1.81 4.26 4.21 4.63 6.77 6.72 1.41 0.5 0.28 3.42 3.46 3.57
 3.5 3.25 3.37 3.73 3.63 3.72 3.43 3.88 2.45 5.77 5.89 1.02 0.89 1.54 1.45
 5.34 1.93 5.05 4.34 4.3 3.41 4.8 4.78 4.82 5.04 3.87 4.2 3.89 5.19 5.25
 4.93 3.91 4.6 4.43 4.67 5.29 4.71 4.42 4.38 4.72 4.51 4.5 4.95 4.59 4.56
 4.08 5.11 5.0 4.13 4.39 4.11 3.96 4.09 4.12 4.74 4.15 4.32 5.15 4.16 5.28
 5.26 4.17 3.93 5.03 4.29 4.25 4.06 5.24 4.19 5.12 4.85 4.94 3.78 4.64
 4.58 4.54 4.02 4.28 5.17 4.91 3.94 4.46 3.95 5.16 5.2 3.99 4.04 4.84 4.47
 4.48 4.73 4.03 0.67 5.52 2.14 1.23 5.49 5.94 2.79 0.54 0.24 5.68 0.37
 5.55 2.71 6.53 12.22 11.15 1.1 2.88 0.76 1.49 3.9 3.85 3.98 4.07 4.18
 3.62 2.36 0.97 1.62 0.63 2.06 2.49 1.88 1.84 5.85 5.82 1.36 4.1 5.33 4.0
 0.59 9.4 1.19 4.4 2.4 5.6 4.77 9.11 6.27 3.06 3.45 4.23 12.1 4.24 0.93
 6.28 6.29 4.9 4.35 3.1 9.46 1.67 0.8 3.01 3.4 5.86 4.33 4.45 4.52 4.55
 4.22 4.37 4.41 2.1 4.44 6.56 5.39 5.36 4.7 1.32 13.01 6.3 5.1 2.23 3.36
 8.74 2.75 5.37 6.46 6.55 5.75 3.14 6.99 3.84 6.6 1.15 4.99 9.85 4.53 5.43
 4.05 7.18 4.31 7.01 12.56 4.01 5.81 6.81 1.71 3.23 3.79 1.97 4.61 7.38
 12.41 12.48 12.44 12.47 3.97 13.0 6.42 5.07 5.02 4.65 4.68 4.86 5.06 5.13
 4.87 4.81 4.89 5.08 1.28 2.32 5.93 2.97 4.27 11.65 7.3 7.35 13.67 7.21
 6.62 5.87 1.75 4.76 5.92 6.75 6.09 5.01 4.69 4.97 7.39 5.8 8.63 4.96 3.92
 16.21 4.57 2.58 2.92 8.03 5.72 4.14 9.93 5.51 2.27 4.83 5.3 3.66 10.41
 5.21 4.98 4.66 4.62 11.61 7.29 6.63 4.36 5.65 5.23 5.32 7.23 9.64 7.16
 3.49 8.15 8.17 6.04 3.58 11.27 2.84 7.32 7.33 5.66 7.28 10.24 5.5 5.62
 5.47 5.38 6.03 5.91 5.98 5.67 5.64 5.97 5.42 5.99 5.95 5.56 5.59 5.88
 5.69 6.01 5.41 5.46 2.19 3.75 9.88 6.36 7.83 12.85 5.09 3.32 2.62 12.21
 12.2 12.19 2.53 5.4 4.92 7.99 6.0 5.45 12.84 6.47 5.83 6.69 5.27 3.27
 8.89 4.79 6.33 8.78 7.46 11.43 6.06 5.63 5.9 6.1 6.38 6.37 6.59 6.34 6.24
 6.45 5.84 5.78 6.76 6.49 6.68 6.21 6.11 6.43 5.54 6.58 6.16 6.23 6.79
 6.25 6.32 6.08 6.19 6.15 6.14 6.2 4.88 4.49 11.79 10.4 10.58 5.14 5.35
 4.75 7.19 11.62 10.37 3.19 6.64 9.36 7.05 5.31 7.76 7.45 7.92 8.75 8.9
 7.51 15.35 8.16 10.57 8.07 12.0 11.98 11.97 8.91 6.74 8.08 5.58 6.86 9.06
 12.58 3.71 9.9 6.67 5.44 9.8 9.89 9.79 9.96 9.83 7.75 10.46 6.35 8.06
 6.52 10.99 10.68 8.94 8.32 7.31 10.07 12.07 7.24 12.87 11.0 5.18 8.2 8.19
 6.5 12.26 12.24 10.15 8.57 7.6 12.69 12.82 9.57 9.14 7.4 7.36 9.45 5.76
 5.71 6.12 5.73 6.07 7.57 7.2 7.95 14.92 7.72 7.64 6.97 7.34 7.11 6.89 6.8
 6.66 6.93 7.02 7.06 6.92 6.4 7.54 7.62 7.59 7.07 7.58 7.67 7.14 6.88 7.71
 7.66 6.9 7.47 6.41 6.54 7.5 7.25 6.98 6.94 6.82 6.51 6.71 7.53 7.08 6.73
 7.68 7.37 6.17 6.85 7.15 7.55 7.49 14.7 6.96 8.02 7.78 12.67 8.36 8.43
 7.26 11.19 11.26 11.21 11.7 7.1 9.27 7.69 5.57 8.67 8.34 15.66 7.61 9.81
 8.13 9.66 6.31 7.13 7.63 8.65 7.03 7.87 8.04 11.88 7.85 7.56 6.61 8.12
 11.54 9.56 9.92 10.03 3.53 5.48 7.0 7.89 5.96 8.53 5.22 10.79 8.44 12.25
 12.6 9.59 10.45 10.75 10.52 10.06 11.04 10.98 10.49 10.82 9.68 11.56
 12.91 11.02 11.01 10.02 10.97 12.78 10.3 11.3 10.89 10.67 10.71 10.72
 10.88 12.61 10.7 12.75 12.39 11.5 12.81 11.82 10.83 10.14 11.92 10.13
 11.37 11.74 9.7 10.62 12.17 10.18 12.51 11.71 10.48 11.63 12.99 9.76
 11.06 12.64 10.93 11.09 10.61 10.54 12.05 12.53 10.19 10.85 10.43 12.08
 12.86 11.52 10.65 11.87 10.04 12.02 10.28 10.32 11.44 11.91 8.87 6.95
 10.55 9.73]
5
dict
6
[29 8 21 6 12 5 26 30 10 19 22 11 14 17 3 27 9 25 18 16 20 0 45 64 58 48
 31 50 54 32 63 4 28 24 39 46 55 60 13 23 65 69 62 49 53 67 51 43 38 56 1
 59 7 36 33 70 57 40 37 42 41 2 15 34 35 68 72 85 78 89 84 44 77 75 61 80
 81 87 66 83 91 259 158 162 138 137 160 82 164 161 175 86 121 120 140 142
 159 117 47 136 165 176 97 174 108 172 114 76 111 151 99 141 115 92 106
 134 71 124 109 144 166 125 122 131 94 132 74 118 148 93 116 95 143 104
 145 147 149 101 135 173 169 79 112 170 155 152 153 88 139 168 52 107 163
 113 146 157 129 96 73 236 204 130 206 257 255 301 250 201 249 271 274 242
 243 191 219 288 275 198 133 265 185 253 100 268 262 282 269 304 237 238
 225 303 154 295 293 215 260 216 213 220 171 221 235 208 200 103 214 177
 251 223 226 252 229 222 150 202 182 181 289 290 266 212 184 187 196 207
 119 90 267 98 209 240 285 239 217 110 227 190 179 183 178 193 199 211 300
 241 156 234 233 246 298 244 254 186 322 102 123 126 127 105 128 352 609
 491 586 349 231 195 245 167 188 258 205 224 393 420 311 414 372 369 313
 490 460 386 308 405 448 381 506 507 435 436 489 446 310 309 477 526 387
 389 421 403 535 203 412 368 370 336 487 465 294 297 511 404 450 485 402
 514 462 374 498 307 306 508 281 359 429 427 458 210 406 442 443 434 380
 428 378 180 401 261 494 476 531 371 342 530 461 189 467 509 533 516 529
 447 521 360 314 248 480 437 218 532 356 504 317 315 540 454 330 541 522
 548 332 323 320 517 451 536 470 400 459 479 277 455 543 363 272 452 351
 375 344 305 345 520 484 230 395 483 481 468 247 422 333 338 279 337 316
 544 550 384 192 539 423 424 456 388 545 335 425 194 486 501 327 397 500
 499 302 471 361 365 525 284 343 523 328 502 555 287 273 263 280 296 278
 197 264 291 270 376 357 518 379 391 326 331 373 321 432 347 355 496 340
 366 350 362 409 394 353 493 346 354 276 513 385 382 445 256 228 560 610
 614 612 472 286 398 407 411 439 325 324 299 383 377 367 292 419 319 426
 396 413 440 318 312 358 232 431 408 433 438 418 334 341 444 329 415 339
 283 348 364 392 417 399 416 390 430 546 595 410 519 475 593 492 534 537
 568 469 585 591 549 515 594 495 552 512 574 556 457 464 576 584 581 463
 466 592 564 482 473 589 579 562 527 577 510 583 547 590 582 575 551 453
 538 503 635 643 634 619 621 565 636 566 599 524 563 478 441 449 488 474
 600 561 611 580 637 630 505 528 596 608 616 650 588 613 570 571 603 617
 626 542 597 573 639 587 654 653 633 642 647 598 567 645 622 606 607 658
 554 569 572 578 559 602 553 497 557 601 638 657 625 605 624 604 661 615
 644 687 686 688 652 623 558 660 618 641 631 665 659 662 651 640 649 666
 629 632 655 663 620 646 628 690 648 709 694 677 673 627 670 664 679 676
 675 674 671 667 678 668 745 752 672 692 685 695 691 693 681 680 682 689
 696 656 722]
7

dict
8
[2 1 3 5 6 4 0 18 16 14 15 7 10 17 11 8 9 29 13 12 21 20 19 28 22 39 30 25
 32 26 27 33 31 23 24 34 48 44 47 40 36 37 35 41 38 46 43 42 51 50 49 45
 56 54 62 61 52 60 53 58 55]
9
[29 8 21 ... 1081 1429 871]
10
dict
11
[0 1 6 178 20 132 17 73 41 2 11 3 47 196 16 40 136 114 56 4 43 10 49 604
 65 32 134 22 155 151 303 37 7 55 191 103 23 51 77 12 39 9 14 327 18 36 25
 59 29 254 316 27 5 305 380 33 135 123 19 90 46 62 105 35 52 167 112 30 97
 48 26 8 15 53 13 156 91 150 442 117 204 21 169 187 111 31 171 113 168 125
 44 568 325 107 54 139 69 24 206 418 232 100 84 347 267 154 80 50 429 28
 104 148 106 67 78 71 118 280 338 430 236 92 42 256 361 99 409 314 482 149
 45 364 82 75 489 63 159 98 58 174 137 93 72 121 127 290 89 162 101 312
 366 271 94 355 34 102 164 74 170 95 86 142 126 138 261 257 288 96 68 499
 402 144 79 414 502 200 124 210 57 252 382 235 297 268 182 721 362 340 215
 408 208 247 606 464 110 189 692 129 318 379 300 64 209 61 83 374 240 38
 691 241 251 354 192 197 222 618 60 211 378 109 115 205 234 468 276 116
 108 120 301 262 76 161 308 140 270 133 363 193 320 227 70 390 360 153 237
 263 226 172 218 472 223 350 243 85 344 219 180 66 497 273 157 351 119 203
 128 445 81 141 87 173 239 324 422 199 279 298 385 158 437 291 447 419 443
 185 388 529 348 190 242 181 480 404 145 491 266 516 146 265 284 412 201
 194 368 346 221 644 292 160 542 289 461 283 322 166 195 88 359 245 454
 152 294 411 392 421 476 383 212 416 258 287 307 413 431 228 343 369 488
 479 415 505 286 371 349 186 504 393 554 481 281 130 326 165 278 184 217
 131 353 377 334 438 274 264 494 406 620 332 424 375 163 463 295 376 214
 272 365 345 220 793 561 177 401 246 309 198 306 1004 175 216 925 143 202
 282 231 277 319 207 399 321 229 311 250 213 188 716 183 582 293 446 275
 370 147 122 407 339 518 328 450 584 285 381 304 342 372 465 485 299 225
 269 633 425 176 230 403 253 323 260 543 600 336 244 539 521 495 453 496
 331 477 556 179 391 433 547 809 525 470 330 420 397 357 503 498 373 248
 629 400 436 398 302 523 387 335 451 806 623 493 456 780 255 333 631 224
 774 585 352 589 457 564 667 689 315 514 394 555 238 550 386 622 417 869
 310 259 296 770 367 410 520 595 747 569 717 449 434 405 396 908 439 452
 613 512 233 329 317 682 1066 492 395 515 594 519 427 313 548 540 435 487
 654 670 471 557 775 358 534 662 574 531 455 423 341 546 337 783 511 720
 538 532 459 356 545 460 473 533 249 607 876 501 474 500 617 432 384 509
 729 588 469 458 541 753 638 484]
13
[3.49 0.0 0.01 ... 237.78 171.32 125.86]
14
[3.49 0.0 6.99 ... 270.37 288.53 237.76]
15
[1 0 2 3 5 6 10 9 7 8 4 11 14 12 13 16 22 17 18 20 19 21 15 149 41 38 42
 45 47 36 44 32 31 28 30 34 25 48 35 49 39 46 33 26 24 23 195 27 29 86 54
 87 68 51 69 52 78 65 64 85 53 76 79 71 82 50 60 58 59 62 63 43 40 37 56
 55 57 73 70 77 74 61 66 67 92 84 80 75 88 89 90 96 72 95 91 93 83 446 166
 137 81 102 100 127 121 119 128 106 108 126 122 118 125 123 113 116 109
 103 731 713 112 98 107 94 99 480 232 111 124 129 104 97 157 132 185 154
 150 110 134 117 101 131 133 142 140 178 180 173 153 182 177 169 176 148
 151 130 181 147 155 146 187 141 165 145 188 136 144 174 120 192 115 189
 158 190 193 161 105 135 260 175 194 252 186 233 205 253 298 254 268 284
 203 143 163 259 170 183 250 248 256 198 199 272 202 279 236 237 234 235
 244 221 251 283 297 215 226 280 219 228 211 217 294 289 230 162 231 207
 288 265 301 171 306 208 308 309 303 307 287 266 164 262 257 210 214 172
 263 191 258 167 264 139 304 114 168 209 276 156 377 160 206 152 223 197
 222 201 225 212 224 216 218 184 200 196 204 179 271 138 245 229 239 241
 277 699 725 213 269 227 292 275 291 281 238 293 273 278 286 282 285 319
 159 1101 746 369 744 242 350 703 505 247 255 249 243 311 310 527 220 358
 295 360 711 321 341 357 270 845 344 326 348 339 340 347 320 329 313 300
 342 274 359 356 526 666 325 856 694 693 316 240 267 389 726 362 246 355
 692 410 381 443 317 305 290 434 431 425 447 445 296 439 415 371 453 424
 444 394 413 399 331 380 451 388 376 449 450 383 416 400 398 330 417 332
 333]
16
[9 4 8 5 6 3 7 2 0 1 10 20 16 17 14 19 11 15 18 12 13 24 21 22 26 28 34 29
 33 57 38 42 23 59 69 58 36 31 60 62 41 44 63 35 25 37 71 47 70 66 64 32
 39 45 43 40 46 48 50 49 67 30 27 102 103 229 150 142 154 178 84 73 195
 141 85 139 176 140 56 128 127 65 110 119 121 122 123 191 183 53 132 109
 97 198 137 202 188 145 126 124 180 175 78 130 135 138 134 197 100 82 95
 91 89 156 186 610 51 54 55 87 75 68 61 74 83 81 77 79 118 96 76 72 107
 106 93 92 117 52 111 99 114 105 88 90 151 108 104 101 143 189 158 129 203
 162 164 171 94 212 240 159 250 209 161 113 208 148 165 187 80 235 206 210
 222 237 217 166 168 174 239 241 207 249 155 233 224 245 152 201 98 238
 226 169 157 215 196 192 211 247 199 115 228 193 218 149 185 173 194 147
 294 170 348 293 248 286 344 216 491 357 347 333 341 167 307 340 500 349
 153 345 343 288 334 336 339 490 461 338 342 487 496 146 337 367 404 495
 354 332 319 499 327 120 260 501 255 346 468 447 494 449 541 443 471 497
 315 298 112 116 86 131 160 133 163 136 125 144 356 200 325 244 179 323
 177 182 317 258 360 305 230 352 316 377 313 386 310 184 257 329 181 270
 289 359 302 271 273 279 290 291 355 263 259 253 268 351 292 301 280 387
 358 370 246 379 283 274 231 382 281 264 362 265 225 234 276 371 364 267
 363 365 236 220 353 614 428 1128 254 252 256 1250 580 1194 306 303 378
 391 335 376 413 418 300 392 295 284 282 214 275 388 412 410 399 272 395
 407 403 415 396 269 243 318 262 374 312 326 423 422 373 383 401 384 414
 190 397 322 380 219 221 277 223 261 278 242 309 350 328 330 331 296 299
 314 285 232 205 266 304 204 320 213 172 227 625 251 366 369 375 385 321
 394 372 311 557 907 406 476 777 622 431 590 287 1124 297 393 368 400 409
 411 402 444 433 429 430 441 417 442 424 427 671 668 799 390 736 308 361
 324 381 1082 440 438 419 416 439 420 398 483 480 458 572 454 552 543 421
 452 542 578 544 460 553 574 550 592 457 609 450 538 482 588 505 571 539
 563 567 561 551 608 606 535 579 548 573 601 475 556 436 481 425 451 810
 806 808 855 644 665 472 446 432 459 445 426 455 466 405 389 470 586 941
 939 660 956 887 996 511 1130 545 647 1237 652 851 599 656 949 950 951 435
 456 434 730 619 658 1040 1275 507 802 725 581 514 566 467 437 408 464
 1273 688 692 849 649 1276 852 1256 1257 1172 831 1141 540 486 549 555 546
 529 479 530 527 532 509 554 515 547 489 881 739 694 1018 687 583 522 477
 518 596 508 612 585 595 524 517 576 597 462 613 534 569 600 448 523 510
 485 528 504 469 536 463 474 492 478 521 531 488 498 502 512 828 944 655
 728 526 506 453 493 741 813 711 575 603 537 587 516 568 558 589 582 570
 565 696 740 678 702 701 624 685 593 774 733 617 520 648 616 796 803 724
 786 636 666 756 719 623 794 712 735 797 729 634 765 763 793 780 779 564
 738 631 776 627 769 635 753 714 716 757 584 762 705 748 650 611 707 503
 703 768 633 615 767 698 674 683 721 718 732 775 676 751 525 646 669 632
 771 710 758 727 484 783 682 700 766 706 708 684 465 720 1366 781 969 826
 829 867 1049 1046 695 975 948 952 772 964 785 795 905 910 832 988 992 821
 1043 984 560 1020 853 1027 598 709 653 946 1054 977 1029 1019 798 819 662
 672 963 995 971 916 1048 1023 842 973 1025 943 847 864 804 1013 1047 902
 760 857 605 664 816 670 807 654 838 835 1045 639 679 999 1003 1010 928
 933 922 841 1033 1051 836 745 861 1036 697 997 626 986 699 834 1180 870
 1288 761 1127 533 970 645 1246 637 628 640 657 594 759 686 754 743 620
 681 884 895 889 894 892 675 1198 559 562 473 642 940 1163 773 876 1126
 1301 1359 858 764 1017 959 932 957 1002 904 982 989 901 935 936 994 891
 896 856 967 854 972 991 800 1000 667 990 693 691 778 1016 965 974 1004
 942 641 689 968 734 859 987 980 1007 818 976 898 607 930 809 868 1011 782
 850 913 713 927 985 846 1012 906 900 1022 638 848 1026 872 871 630 651
 663 717 744 801 747 513 643 604 704 830 1005 1118 1114 577 621 602 690
 618 722 726 715 750 1143 519 953 1293 742 874 883 882 791 885 875 880 879
 865 877 844 878 921 843 815 752 591 814 839 784 723 1183 1116 1071 893
 923 925 737 789 897 929 673 659 677]
17
[0 1 2 3 4 18 12 7 11 46 5 13 6 62 9 8 10 17 19 15 20 21 23 16 22 14 53 35
 42 33 32 26 31 27 37 34 39 24 44 36 47 45 29 25 30 40 28 38 80 55 65 50
 51 103 195 977 56 945 57 43 48 54 52 49 41 115 67 79 160 317 90 69 93 96
 140 176 64 75 95 199 554 81 59 125 100 401 551 112 192 58 88 87 188 198
 233 99 73 70 117 113 63 150 61 92 89 906 86 959 376 82 98 105 104 76 74
 78 84 106 102 94 66 121 165 300 298 301 172 154 91 122 409 97 1024 111
 161 157 159 201 129 147 211 1020 221 85 77 543 445 134 128 332 60 966 149
 119 912 71 962 905 904 175 173 133 236 196 110 101 83 68 109 357 448 116
 260 197 181 118 184 182 556 189 178 609 907 207 922 339 312 903 185 137
 148 72 187 322 291 194 548 143 406 171 190 231 124 251 168 319 892 544
 204 615 612 864 108 130 138 240 971 120 163 155 547 303 123 417 253 152
 335 918 888 107]
18

[0 14 20 18 65 3 50 22 38 46 8 45 13 16 30 10 25 9 15 11 28 53 34 1 33 47
 5 23 35 36 4 19 21 2 17 37 26 12 7 48 6 41 40 29 27 31 24 32 49 39 43 55
 42 51 63 9999 999999 58 999]
19
[16 13 10 9 4 7 18 6 2 20 8 0 12 26 17 22 32 34 5 23 19 21 29 28 14 27 25
 31 24 3 15 1 35 11 33 46 37 42 45 44 40 39 36 41 30 38 147 66 76 55 54 64
 60 62 56 47 74 59 52 53 69 61 58 57 68 49 71 50 75 51 72 43 48 83 93 107
 182 180 118 167 101 111 65 142 78 171 177 159 115 145 148 113 99 95 97 90
 80 82 153 164 67 105 174 128 162 73 125 134 131 123 92 121 151 86 88 89
 135 122 94 91 112 87 169 191 117 84 119 179 120 96 79 197 187 221 109 149
 181 165 129 100 77 199 108 106 81 189 193 205 175 126 215 185 124 209 207
 213 98 103 104 225 70 223 155 116 141 161 110 132 137 130 127 173 133 114
 102 409 448 357 442 388 235 384 361 431 351 333 436 400 204 244 360 429
 234 477 392 413 345 415 453 454 471 355 353 460 469 401 405 450 327 425
 492 354 325 317 439 398 385 463 428 346 331 336 426 438 296 427 481 424
 432 335 262 393 349 347 343 216 350 194 247 464 339 417 266 276 338 443
 459 236 146 430 138 462 423 452 404 358 286 288 422 241 458 329 465 251
 348 319 387 322 461 186 200 302 373 352 421 487 482 196 437 140 475 473
 449 184 362 341 468 243 457 455 484 378 292 367 363 506 386 466 509 451
 528 219 376 440 483 494 441 420 490 381 515 389 342 232 486 256 226 371
 395 403 258 359 447 479 263 364 412 472 332 434 340 396 365 518 520 306
 503 375 470 211 304 521 391 150 456 310 485 419 382 176 152 265 303 312
 206 445 372 337 370 411 402 366 383 63 724 718 85 259 326 208 270 274 328
 374 368 188 250 160 260 261 277 334 144 246 218 271 321 170 172 307 178
 228 309 311 136 230 394 201 298 139 224 252 163 198 295 267 264 248 380
 406 308 290 291 293 314 280 305 289 238 281 287 300 253 254 299 192 154
 283 239 315 510 513 476 516 505 512 530 190 255 249 474 245 526 369 488
 493 524 519 158 517 202 525 220 502 214 166 511 501 496 514 504 233 508
 399 507 467 356 523 522 531 532 527 268 222 416 566 837 619 815 564 561
 563 956 548 585 538 591 623 616 607 594 596 953 964 551 600 1025 589 680
 781 778 683 559 1070 323 301 646 156 996 689 544 903 665 860 918 1079 927
 855 641 638 609 613 846 578 934 626 882 877 390 1004 900 269 278 643 195
 831 857 497 894 741 835 1042 1016 755 849 550 546 240 604 677 747 708 587
 583 588 744 752 602 827 944 183 763 227 820 1046 1068 1059 581 499 231
 761 769 1076 1073 772 703 229 712 692 795 812 418 932 790 210 567 735
 1065 775 330 444 1053 1030 576 750 316 606 970 649 999 668 655 912 936
 569 1048 897 313 888 809 414 760 991 537 695 598 294 275 272 866 533 573
 698 879 671 535 1062 628 768 397 661 1044 833 1002 732 967 869 408 217
 872 941 727 575 663 805 410 279 157 143 242 212 168 664 407 320 297 282
 667 599 545 557 611 542 489 614 435 539 605 203 285 324 612 705 662 579
 284 624 540 433 725 723 734 632 608 586 673 630 693 549 654 570 627 498
 590 650 656 584 593 702 536 644 684 478 696 681 237 687 652 678 529 737
 731 670 728 621 716 746 720 554 560 495 743 556 565 701 631 749 622 647
 659 713 676 318 625 446 377 257 273 597 547 500 553 603 562 344 480 770
 758 826 756 726 592 774 814 637 748 740 764 582 595 836 742 730 729 780
 782 639 700 738 733 580 620 773 779 629 694 618 541 543 558 552 491 960
 824 653 893 969 972 861 966 765 776 870 717 955 794 799 974 636 819 699
 961 785 982 875 753 977 963 841 829 978 945 617 865 757 651 704 721 992
 648 645 672 950 640 883 745 987 379 688 669 674 610 710 572 707 739 715
 697 601 577 691 615 722 714 660 711 657 754 736 690 682 571 568 633 706
 534 999999 830 642 840 850 574 796 791 800 810 845 847]
20
[0 1 2 4 3]
21
[0 2 1 3 4]
48
dict
52
dict
66
dict
75
[1 0 30 42 38 8 33 20 34 37 7 2 18 15 10 26 31 39 14 17 43 46 16 19 41 36
 44 27 25 4 11 6 3 23 40 47 24 9 5 13 12 21 22 162 116 145 69 92 118 146
 70 56 177 89 117 175 208 172 113 144 83 28 81 171 188 190 165 166 45 73
 135 156 99 51 201 96 191 141 103 94 184 131 174 74 80 114 187 181 196 211
 163 72 157 210 110 207 206 86 84 153 179 152 119 59 161 102 148 104 143
 75 124 173 71 159 160 65 178 107 106 109 128 127 100 202 203 53 151 68 63
 130 121 133 139 147 85 66 186 97 79 58 60 112 198 123 67 154 134 125 48
 50 29 111 129 32 136 142 150 105 95 62 168 132 49 35 52 54 57 64 61 55 90
 88 77 76 158 82 87 91 93 78 204 232 244 217 216 189 284 264 230 240 259
 227 294 254 257 185 274 310 245 122 238 315 149 243 197 282 266 297 242
 239 279 220 290 183 182 180 305 250 249 261 256 225 223 237 288 306 312
 120 169 199 296 255 265 314 280 298 300 309 277 273 313 293 108 319 307
 320 325 194 299 269 236 263 276 260 322 212 155 221 200 233 278 323 270
 328 228 318 231 324 247 281 234 271 138 214 137 304 303 291 98 101 126
 115 164 176 170 193 205 195 248 167 226 258 140 466 462 218 192 235 213
 241 224 222 209 246 219 229 253 215 262 272 267 275 251 423 289 369 311
 365 287 404 252 301 302 403 406 357 356 329 286 434 439 414 331 389 376
 394 442 397 375 317 316 372 398 382 381 416 388 386 345 428 420 349 373
 327 347 336 346 348 400 351 366 431 295 353 441 440 354 335 332 422 361
 364 360 343 438 355 429 408 415 321 392 387 384 340 363 350 433 413 333
 378 292 334 432 435 352 338 342 407 379 380 399 341 268 283 285 425 417
 869 795 395 473 922 542 326 339 308 337 330 588 646 485 393 577 474 574
 367 377 362 391 390 368 383 699 745 490 344 358 359 371 665 697 385 739
 374 827 418 410 401 412 402 396 370 411 682 421 430 427 405 444 526 921
 746 920 658 649 834 671 445 409 443 446 448 837 463 754 506 829 735 636
 572 755 544 514 553 551 686 469 660 503 732 733 731 761 743 786 848 661
 721 543 798 719 558 587 603 568 722 504 583 586 720 820 533 527 477 497
 505 488 472 465 456 475 455 481 484 419 519 457 525 523 522 437 529 479
 426 535 452 471 509 447 436 532 528 450 496 516 449 498 478 494 495 512
 424 476 480 467 464 500 458 518 502 508 486 460 530 517 507 492 459 513
 493 501 491 520 515 524 483 816 595 582 632 818 881 702 690 843 451 683
 624 698 769 866 887 835 748 765 752 796 778 776 750 768 727 817 897 858
 777 775 892 742 772 762 763 771 767 787 891 875 811 893 737 845 740 736
 802 850 831 729 790 758 861 883 749 823 901 780 791 783 757 854 885 856
 895 813 760 841 852 744 741 894 725 807 844 545 657 556 453 696]
76
[0 5 6 10 9 16 13 8 19 18 1 2 4]
77
[1 0 30 42 38 8 33 20 34 37 7 2 18 15 10 26 31 39 14 17 43 46 16 19 41 36
 44 27 25 4 11 6 3 23 40 47 24 9 5 13 12 21 22 162 116 145 69 92 118 146
 70 56 177 89 117 175 208 172 113 144 83 28 81 171 188 190 165 166 45 73
 135 156 99 51 201 96 191 141 103 94 184 131 174 74 80 114 187 181 196 211
 163 72 157 210 110 207 206 86 84 153 179 152 119 59 161 102 148 104 143
 75 124 173 71 159 160 65 178 107 106 109 128 127 100 202 203 53 151 68 63
 130 121 133 139 147 85 66 186 97 79 58 60 112 198 123 67 154 134 125 48
 50 29 111 129 32 136 142 150 105 95 62 168 132 49 35 52 54 57 64 61 55 90
 88 77 76 158 82 87 91 93 78 204 232 244 217 216 189 284 264 230 240 259
 227 294 254 257 185 274 310 245 122 238 315 149 243 197 282 266 297 242
 239 279 220 290 183 182 180 305 250 249 261 256 225 223 237 288 306 312
 120 169 199 296 255 265 314 280 298 300 309 277 273 313 293 108 319 307
 320 325 194 299 269 236 263 276 260 322 212 155 221 200 233 278 323 270
 328 228 318 231 324 247 281 234 271 138 214 137 304 303 291 98 101 126
 115 164 176 170 193 205 195 248 167 226 258 140 466 462 218 192 235 213
 241 224 222 209 246 219 229 253 215 262 272 267 275 251 423 289 369 311
 365 287 404 252 301 302 403 406 357 356 329 286 434 439 414 331 389 376
 394 442 397 375 317 316 372 398 382 381 416 388 386 345 428 420 349 373
 327 347 336 346 348 400 351 366 431 295 353 441 440 354 335 332 422 361
 364 360 343 438 355 429 408 415 321 392 387 384 340 363 350 433 413 333
 378 292 334 432 435 352 338 342 407 379 380 399 341 268 283 285 425 417
 869 795 395 473 922 542 326 339 308 337 330 588 646 485 393 577 474 574
 367 377 362 391 390 368 383 699 745 490 344 358 359 371 665 697 385 739
 374 827 418 410 401 412 402 396 370 411 682 421 430 427 405 444 526 921
 746 920 658 649 834 671 445 409 443 446 448 837 463 754 506 829 735 636
 572 755 544 514 553 551 686 469 660 503 732 733 731 761 743 786 848 661
 721 543 798 719 558 587 603 568 722 504 583 586 720 820 533 527 477 497
 505 488 472 465 456 475 455 481 484 419 519 457 525 523 522 437 529 479
 426 535 452 471 509 447 436 532 528 450 496 516 449 498 478 494 495 512
 424 476 480 467 464 500 458 518 502 508 486 460 530 517 507 492 459 513
 493 501 491 520 515 524 483 816 595 582 632 818 881 702 690 843 451 683
 624 698 769 866 887 835 748 765 752 796 778 776 750 768 727 817 897 858
 777 775 892 742 772 762 763 771 767 787 891 875 811 893 737 845 740 736
 802 850 831 729 790 758 861 883 749 823 901 780 791 783 757 854 885 856
 895 813 760 841 852 744 741 894 725 807 844 545 657 556 453 696]
78

[1 0]
96
[1 0]
67
[1 0]
49
[1.0]

In [27]:
for a in attrib.attribute.unique():
    try:
        print(a, len(attrib.loc[attrib.attribute == a, :].attribute_value.unique()))
    except:
        pass

0 124
1 1685
3 270
4 933
6 698
8 61
9 1269
11 579
13 29736
14 14466
15 389
16 995
17 230
18 59
19 868
20 5
21 5
75 657
76 13
77 657
78 2
96 2
67 2
49 1

|attribute| type | counts|
|---|--------------|-----|
| 0 | list of ints | 124 |
| 1 | list of ints | 1685 |
| 3 | list of ints | 270 |
| 6 | list of ints | 698 |
| 8 | list of ints | 61 |
| 9 | list of ints | 1269 |
| 11 | list of ints | 579 |
| 15 | list of ints | 389 |
| 16 | list of ints | 995 |
| 17 | list of ints | 230 |
| 18 | list of ints | 59 |
| 19 | list of ints | 868 |
| 75 | list of ints | 657 |
| 77 | list of ints | 675 |
| 4 | list of floats | 933 |
| 13 | list of floats | 29736 |
| 14 | list of flaots | 14466 |
| 5 | dict | |
| 7 | dict | |
| 10 | dict | |
| 48 | dict | |
| 52 | dict | |
| 66 | dict | |
| 20 | list of ints cats | 5 |
| 21 | list of ints cats | 5 |
| 76 | list of ints cats | 13 |
| 78 | bool | 2 |
| 96 | bool | 2 |
| 67 | bool | 2 |
| 49 | bool | 1 |

In [32]:
def convert_5(x):
    try:
        t = x.split(':')
        return int(t[1])
    except:
        return None

In [33]:
attrib.loc[attrib.attribute == 5, ['attribute_value']] =\
    attrib[attrib.attribute == 5].attribute_value.apply(lambda x: convert_5(x))

In [62]:
attrib.loc[attrib.attribute == 5, ['attribute_value']].tail()

          attribute_value
185589961               1
185589992               1
185589993               1
185590046               1
185590047               1

In [34]:
def convert_7(x):
    try:
        t = x.split(':')
        return int(t[1])
    except:
        return None

In [35]:
attrib.loc[attrib.attribute == 7, ['attribute_value']] = \
    attrib[attrib.attribute == 7].attribute_value.apply(lambda x: convert_7(x))

In [65]:
attrib.loc[attrib.attribute == 7, ['attribute_value']].tail()

          attribute_value
185589963               4
185589996             NaN
185589997             NaN
185590050             NaN
185590051             NaN

In [36]:
def convert_10(x):
    try:
        t = x.split(':')
        return int(t[1])
    except:
        return None

In [37]:
attrib.loc[attrib.attribute == 10, ['attribute_value']] = \
    attrib[attrib.attribute == 10].attribute_value.apply(lambda x: convert_10(x))

In [68]:
attrib.loc[attrib.attribute == 10, ['attribute_value']].tail()

          attribute_value
185589966               1
185590002             NaN
185590003             NaN
185590056             NaN
185590057             NaN

In [38]:
attrib.loc[attrib.attribute == 48, ['attribute_value']] = 1

In [39]:
attrib.loc[attrib.attribute == 52, ['attribute_value']] = 1

In [41]:
def convert_66(x):
    try:
        t = x[2:-2].replace('\\', '').replace('"', '').split(',')
        return max([int(d.split(':')[1]) for d in t])
    except:
        return None

In [42]:
attrib.loc[attrib.attribute == 66, ['attribute_value']] = \
    attrib[attrib.attribute == 66].attribute_value.apply(lambda x: convert_66(x))

In [74]:
attrib.dtypes

attribute          category
attribute_value      object
user_id_hash       category
system_date          object
dtype: object

In [75]:
attrib.shape

(185590092, 4)

In [43]:
attrib = attrib[(~attrib.attribute.isin([49, 48, 52]))]

In [45]:
gc.collect()

342

In [46]:
attrib.shape

(172630662, 4)

In [47]:
attrib.dtypes

attribute          category
attribute_value      object
user_id_hash       category
system_date          object
dtype: object

In [48]:
attrib.head()

,attribute,attribute_value,user_id_hash,system_date
0,0,1,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02
1,1,1,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02
2,3,0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02
3,4,0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02
4,5,11,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02

count of all

mean & max for 4, 13, 14

median of 20, 21

mean of 78, 96, 67

## Atrrib Agg

In [78]:
del_atr = list(set(list(attrib.attribute.unique())) -\
                   set([4, 13, 14, 20, 21, 78, 96, 67]))

In [79]:
for d in del_atr:
    attrib = attrib[attrib.attribute != d]

In [80]:
gc.collect()

28

In [81]:
attrib.shape

(44042402, 4)

In [116]:
week_dates = attrib.week_start.dt.date.unique()

In [62]:
attrib.head()

,attribute,attribute_value,user_id_hash,system_date
0,0,1,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02
1,1,1,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02
2,3,0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02
3,4,0,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02
4,5,11,9943447915df3a45fd6720a026af905b6da6b56a37701b...,2018-12-02

In [76]:
attrib.reset_index(inplace=True, drop=True)

In [64]:
attrib.sort_values(['system_date', 'user_id_hash'], inplace=True)

In [66]:
gc.collect()

8

In [49]:
attrib.attribute_value = attrib.attribute_value.astype(np.number)

In [50]:
attrib.system_date = attrib.system_date.astype('category')

In [51]:
attrib.dtypes

attribute          category
attribute_value     float64
user_id_hash       category
system_date        category
dtype: object

In [52]:
gc.collect()

0

In [73]:
attrib.to_pickle('../temp')

In [74]:
attrib = pd.read_pickle('../temp')

In [77]:
attrib.head()

,attribute,attribute_value,user_id_hash,system_date
0,0,0.0,0008ae1788be9473a11dd8efdc61010ad2a54ffe5e17ad...,2018-10-01
1,1,0.0,0008ae1788be9473a11dd8efdc61010ad2a54ffe5e17ad...,2018-10-01
2,3,0.0,0008ae1788be9473a11dd8efdc61010ad2a54ffe5e17ad...,2018-10-01
3,4,0.0,0008ae1788be9473a11dd8efdc61010ad2a54ffe5e17ad...,2018-10-01
4,5,1.0,0008ae1788be9473a11dd8efdc61010ad2a54ffe5e17ad...,2018-10-01

In [78]:
attrib.shape

(172630662, 4)

In [53]:
attrib.to_pickle('../data/atr.pkl')

In [84]:
time_df = attrib.system_date.dt.date.unique()

In [85]:
time_df = pd.DataFrame({'system_time': time_df})

In [86]:
time_df.system_time = time_df.system_time.astype('datetime64[ns]')

In [88]:
time_df = time_df.loc[:74, :]

In [89]:
time_df

   system_time
0   2018-10-01
1   2018-10-02
2   2018-10-03
3   2018-10-04
4   2018-10-05
5   2018-10-06
6   2018-10-07
7   2018-10-08
8   2018-10-09
9   2018-10-10
10  2018-10-11
11  2018-10-12
12  2018-10-13
13  2018-10-14
14  2018-10-15
15  2018-10-16
16  2018-10-17
17  2018-10-18
18  2018-10-19
19  2018-10-20
20  2018-10-21
21  2018-10-22
22  2018-10-23
23  2018-10-24
24  2018-10-25
25  2018-10-26
26  2018-10-27
27  2018-10-28
28  2018-10-29
29  2018-10-30
..         ...
45  2018-11-15
46  2018-11-16
47  2018-11-17
48  2018-11-18
49  2018-11-19
50  2018-11-20
51  2018-11-21
52  2018-11-22
53  2018-11-23
54  2018-11-24
55  2018-11-25
56  2018-11-26
57  2018-11-27
58  2018-11-28
59  2018-11-29
60  2018-11-30
61  2018-12-01
62  2018-12-02
63  2018-12-03
64  2018-12-04
65  2018-12-05
66  2018-12-06
67  2018-12-07
68  2018-12-08
69  2018-12-09
70  2018-12-10
71  2018-12-11
72  2018-12-12
73  2018-12-13
74  2018-12-14

[75 rows x 1 columns]

In [90]:
temp = dict(zip(time_df.system_time.dt.date.values,
                (time_df.system_time - time_df.system_time.dt.weekday\
                 .apply(lambda x: dt.timedelta(days=(x+2) % 7)))\
                .dt.date.values))

In [91]:
attrib.system_date = attrib.system_date.dt.date

In [93]:
attrib.isna().sum()

attribute                 0
attribute_value     1789233
user_id_hash              0
system_date        35126531
dtype: int64

In [95]:
attrib.shape

(172630662, 4)

In [96]:
attrib = attrib[~attrib.system_date.isna()]

In [97]:
attrib.shape

(137504131, 4)

In [98]:
attrib['anchor_date'] = attrib.system_date.apply(lambda x: temp[x])

In [99]:
attrib.attribute_value.isna().sum()

1319450

In [100]:
attrib = attrib[~attrib.attribute_value.isna()]

In [106]:
week_dates = attrib.anchor_date.unique()

In [101]:
def weekly_aggregate(df):

    grp_cols = ['anchor_date', 'attribute', 'user_id_hash']
    grpby_obj = df.groupby(grp_cols)
    
    temp = grpby_obj.attribute_value.count().to_frame().reset_index()\
                .rename(columns={'attribute_value': 'atr_count'})
    temp1 = grpby_obj.attribute_value.mean().to_frame().reset_index()\
                .rename(columns={'attribute_value': 'atr_mean'})
    temp2 = grpby_obj.attribute_value.last().to_frame().reset_index()\
                .rename(columns={'attribute_value': 'atr_last'})
    temp3 = grpby_obj.attribute_value.max().to_frame().reset_index()\
                .rename(columns={'attribute_value': 'atr_max'})

    for i in range(1, 4):
        temp = temp.merge(locals()[f'temp{i}'], 
                          on=grp_cols)
    return temp

In [105]:
def wrapper_agg(wst):
    events_ss = attrib[attrib.anchor_date == wst].copy()
    return weekly_aggregate(events_ss)

In [103]:
attrib.shape

(136184681, 5)

In [104]:
attrib.attribute_value.apply(np.isreal).sum()

136184681

In [124]:
attrib.attribute_value = attrib.attribute_value.astype(np.number)

In [107]:
result = parallel(wrapper_agg, week_dates)
result = pd.concat(result)

In [108]:
result.head()

,anchor_date,attribute,user_id_hash,atr_count,atr_mean,atr_last,atr_max
0,2018-09-29,0,00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd...,2,0.0,0.0,0.0
1,2018-09-29,0,0003f8bda56230a49445880e559b718e94ba37344494a7...,1,0.0,0.0,0.0
2,2018-09-29,0,000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b...,1,0.0,0.0,0.0
3,2018-09-29,0,0006028dc3aefd41499be9c5428fb11691f3ce570e7cc8...,3,0.0,0.0,0.0
4,2018-09-29,0,0007da1b2aa0df73cf98077068a7da9039f57d9d51a1ae...,1,0.0,0.0,0.0

In [109]:
result.to_pickle('../attributes_agg2.pkl')

In [110]:
attrib.to_pickle('../temp2')

# Messages

In [41]:
msgs = pd.read_csv('../messages.csv')

In [42]:
msgs.head()

,app_id,message_id,action_type,delivery_type,delivery_time_mode,goal_kind
0,6196435404455936,5420304779837440,__Push Notification,4,3,NaN
1,6196435404455936,5059935179767808,__Push Notification,0,3,NaN
2,6196435404455936,6563799154425856,__Webhook,4,3,NaN
3,6196435404455936,4680497250304000,__Push Notification,0,3,NaN
4,4724682771660800,6286714069450752,Center Popup,0,3,3.0

In [44]:
msgs.shape

(2896, 6)

# Combining Everything

In [11]:
events = pd.read_pickle('../events_agg.pkl')
session = pd.read_pickle('../session_agg.pkl')
atr = pd.read_pickle('../attributes_agg.pkl')
user_date = pd.read_pickle('../user_date.pkl')

In [12]:
df = session

In [13]:
user_date = user_date.groupby('user_id_hash').user_created_timestamp.max()

In [14]:
user_date = user_date.to_frame()

In [15]:
user_date.reset_index(inplace=True)

In [16]:
df = df.merge(user_date, on=['user_id_hash'], how='left')

In [17]:
events.head()

,week_start,event,user_id_hash,event_count,event_sum,event_mean
0,2018-10-01,0,0008ae1788be9473a11dd8efdc61010ad2a54ffe5e17ad...,1,0.0,0.0
1,2018-10-01,0,000c653971c4cdb4a930ebb9de12c8587f8c46cdf1bdf5...,1,0.0,0.0
2,2018-10-01,0,001341dc1ffc939af25106b66a54ea318c15a03d7d699a...,1,0.0,0.0
3,2018-10-01,0,001649233906501efe5899fc693500a233220cfc02be0d...,1,0.0,0.0
4,2018-10-01,0,001b256fc745aff7b582d02dd1e7d9209a7b6c486b4cf2...,1,0.0,0.0

In [18]:
events.set_index(['week_start', 'user_id_hash', 'event'], inplace=True)

In [19]:
events_p = events.unstack()

In [20]:
events_p.fillna(-99, inplace=True)

In [21]:
events_p.columns = [i + str(j) for  i, j  in zip (events_p.columns.get_level_values(0), events_p.columns.get_level_values(1))]

In [22]:
events_p.head()

                                                               event_count0  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...         -99.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...         -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...         -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...         -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...         -99.0

                                                               event_count0/  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...          -99.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...          -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...          -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...          -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...          -99.0

                                                               event_count1  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...           1.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...         -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...         -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...           1.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...           2.0

                                                               event_count1/  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...          -99.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...          -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...          -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...          -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...          -99.0

                                                               event_count10  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...          -99.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...          -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...          -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...          -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...          -99.0

                                                               event_count11  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...          -99.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...          -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...          -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...          -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...          -99.0

                                                               event_count14  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...            3.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...            3.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...            3.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...            4.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...            4.0

                                                               event_count3  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...           2.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...         -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...         -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...         -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...         -99.0

                                                               event_count32  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...          -99.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...          -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...          -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...          -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...          -99.0

                                                               event_count4  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...           3.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...         -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...         -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...         -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...           4.0

                                                                   ...       \
week_start user_id_hash                                            ...
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...      ...
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...      ...
           0003f8bda56230a49445880e559b718e94ba37344494a7f...      ...
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...      ...
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...      ...

                                                               event_mean60  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...         -99.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...         -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...         -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...         -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...         -99.0

                                                               event_mean61  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...         -99.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...         -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...         -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...         -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...         -99.0

                                                               event_mean62  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...         -99.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...         -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...         -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...         -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...         -99.0

                                                               event_mean63  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...         -99.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...         -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...         -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...         -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...         -99.0

                                                               event_mean64  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...         -99.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...         -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...         -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...         -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...         -99.0

                                                               event_mean7  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...         20.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...         12.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...        -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...         12.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...         21.0

                                                               event_mean9  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...        -99.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...        -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...        -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...        -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...        -99.0

                                                               event_mean97  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...           0.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...           0.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...           0.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...           0.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...           0.0

                                                               event_mean98  \
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...         -99.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...         -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...         -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...         -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...         -99.0

                                                               event_mean99
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...         -99.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...         -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...         -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...         -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...         -99.0

[5 rows x 120 columns]

In [23]:
events_p.reset_index(inplace=True)

In [24]:
events_p.head()

,week_start,user_id_hash,event_count0,event_count0/,event_count1,event_count1/,event_count10,event_count11,event_count14,event_count3,...,event_mean60,event_mean61,event_mean62,event_mean63,event_mean64,event_mean7,event_mean9,event_mean97,event_mean98,event_mean99
0,2018-10-01,000062e9be78f3da274fec338e78f89d12000e781967f2...,-99.0,-99.0,1.0,-99.0,-99.0,-99.0,3.0,2.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,20.0,-99.0,0.0,-99.0,-99.0
1,2018-10-01,00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd...,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,3.0,-99.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,12.0,-99.0,0.0,-99.0,-99.0
2,2018-10-01,0003f8bda56230a49445880e559b718e94ba37344494a7...,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,3.0,-99.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,0.0,-99.0,-99.0
3,2018-10-01,000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b...,-99.0,-99.0,1.0,-99.0,-99.0,-99.0,4.0,-99.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,12.0,-99.0,0.0,-99.0,-99.0
4,2018-10-01,0006028dc3aefd41499be9c5428fb11691f3ce570e7cc8...,-99.0,-99.0,2.0,-99.0,-99.0,-99.0,4.0,-99.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,21.0,-99.0,0.0,-99.0,-99.0

In [25]:
events_p.shape

(1152353, 122)

In [26]:
df.week_start = df.week_start.astype('category')

In [27]:
df = df.merge(events_p, on=['user_id_hash', 'week_start'], how='left')

In [28]:
df.shape

(995976, 136)

In [30]:
atr.attribute = atr.attribute.astype(np.int)

In [31]:
atr.head()

,atr_count,atr_last,atr_max,atr_mean,attribute,user_id_hash,week_start
0,1,0.05,0.05,0.05,4,000059859ec188af6035870faf885c3038cedda05b3a54...,2018-11-26 00:00:00
1,1,0.00,0.00,0.00,4,000081a7d841b0f953bdba6c185fd5cc335fd6015a30c3...,2018-11-26 00:00:00
2,8,0.00,0.00,0.00,4,0000bc4e8bfc829d327fa69bdc426dd8a789c52550ed87...,2018-11-26 00:00:00
3,1,0.00,0.00,0.00,4,000161848e5ccdcd4d3b0c7be9ec844730c39e6bcbc2a7...,2018-11-26 00:00:00
4,1,0.00,0.00,0.00,4,00020102f66f89759868c843ae9fe634870f132f9e3d79...,2018-11-26 00:00:00

In [32]:
atr.set_index(['week_start', 'user_id_hash', 'attribute'], inplace=True)

In [33]:
atr_p = atr.unstack()

In [34]:
atr_p.fillna(-99, inplace=True)

In [35]:
atr_p.head()

                                                              atr_count       \
attribute                                                            4    13
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...       4.0  4.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...       2.0  2.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...       1.0  1.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...       1.0  1.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...       4.0  4.0

                                                                              \
attribute                                                       14   20   21
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...  4.0  4.0  4.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...  2.0  2.0  2.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...  1.0  1.0  1.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...  1.0  1.0  1.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...  4.0  4.0  4.0

                                                                          \
attribute                                                        67   78
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23... -99.0  4.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3... -99.0  2.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f... -99.0  1.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9... -99.0  1.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87... -99.0  4.0

                                                                    atr_last  \
attribute                                                        96       4
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23... -99.0     0.00
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3... -99.0     0.00
           0003f8bda56230a49445880e559b718e94ba37344494a7f... -99.0     0.00
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9... -99.0     0.02
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87... -99.0     0.00

                                                                     ...   \
attribute                                                        13  ...
week_start user_id_hash                                              ...
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...  0.00  ...
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...  0.00  ...
           0003f8bda56230a49445880e559b718e94ba37344494a7f...  0.00  ...
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...  0.02  ...
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...  0.00  ...

                                                              atr_max        \
attribute                                                          78    96
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...     1.0 -99.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...     1.0 -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...     1.0 -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...     1.0 -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...     1.0 -99.0

                                                              atr_mean  \
attribute                                                           4
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...   0.0075
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...   0.0000
           0003f8bda56230a49445880e559b718e94ba37344494a7f...   0.0000
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...   0.0200
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...   0.0000

                                                                            \
attribute                                                          13   14
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...  0.0075  0.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...  0.0000  0.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...  0.0000  0.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...  0.0200  0.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...  0.0000  0.0

                                                                               \
attribute                                                       20   21    67
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...  0.0  1.0 -99.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...  0.0  2.0 -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...  0.0  2.0 -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...  2.0  0.0 -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...  0.5  0.0 -99.0


attribute                                                       78    96
week_start user_id_hash
2018-10-01 000062e9be78f3da274fec338e78f89d12000e781967f23...  1.0 -99.0
           00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd3...  1.0 -99.0
           0003f8bda56230a49445880e559b718e94ba37344494a7f...  1.0 -99.0
           000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b9...  1.0 -99.0
           0006028dc3aefd41499be9c5428fb11691f3ce570e7cc87...  1.0 -99.0

[5 rows x 32 columns]

In [36]:
atr_p.columns = [i + str(j) for  i, j  in zip (atr_p.columns.get_level_values(0),
                                               atr_p.columns.get_level_values(1))]

In [37]:
atr_p.reset_index(inplace=True)

In [38]:
atr_p.head()

,week_start,user_id_hash,atr_count4,atr_count13,atr_count14,atr_count20,atr_count21,atr_count67,atr_count78,atr_count96,...,atr_max78,atr_max96,atr_mean4,atr_mean13,atr_mean14,atr_mean20,atr_mean21,atr_mean67,atr_mean78,atr_mean96
0,2018-10-01,000062e9be78f3da274fec338e78f89d12000e781967f2...,4.0,4.0,4.0,4.0,4.0,-99.0,4.0,-99.0,...,1.0,-99.0,0.0075,0.0075,0.0,0.0,1.0,-99.0,1.0,-99.0
1,2018-10-01,00026e5050a70ef12d421f75c6a5c80d0f62d37acab8bd...,2.0,2.0,2.0,2.0,2.0,-99.0,2.0,-99.0,...,1.0,-99.0,0.0000,0.0000,0.0,0.0,2.0,-99.0,1.0,-99.0
2,2018-10-01,0003f8bda56230a49445880e559b718e94ba37344494a7...,1.0,1.0,1.0,1.0,1.0,-99.0,1.0,-99.0,...,1.0,-99.0,0.0000,0.0000,0.0,0.0,2.0,-99.0,1.0,-99.0
3,2018-10-01,000542d6fc6e9dcb83328d30503a7e022e5a6b4ea6357b...,1.0,1.0,1.0,1.0,1.0,-99.0,1.0,-99.0,...,1.0,-99.0,0.0200,0.0200,0.0,2.0,0.0,-99.0,1.0,-99.0
4,2018-10-01,0006028dc3aefd41499be9c5428fb11691f3ce570e7cc8...,4.0,4.0,4.0,4.0,4.0,-99.0,4.0,-99.0,...,1.0,-99.0,0.0000,0.0000,0.0,0.5,0.0,-99.0,1.0,-99.0

In [44]:
atr_p.week_start = atr_p.week_start.astype('category')

In [45]:
df = df.merge(atr_p, on=['user_id_hash', 'week_start'], how='left')

In [46]:
df.shape

(995976, 168)

In [47]:
df.to_pickle('../merged.pkl')

In [229]:
df = pd.read_pickle('../merged.pkl')

# Preparing for Model

In [230]:
purchase = pd.read_pickle('../purchase.pkl')

In [231]:
purchase.reset_index(inplace=True, drop=True)

In [232]:
t1 = purchase.groupby(['week_start', 'user_id_hash']).event_value.count()\
            .reset_index().rename(columns={'event_value': 'no_of_buys'})
t2 = purchase.groupby(['week_start', 'user_id_hash']).event_value.sum()\
            .reset_index().rename(columns={'event_value': 'sum_of_buys'})

In [233]:
purchase = t1.merge(t2, on=['week_start', 'user_id_hash'])

In [234]:
purchase.head()

,week_start,user_id_hash,no_of_buys,sum_of_buys
0,2018-10-01,001c2d06972b17ee6a075ff9fbdae33eccb0bbf28357ea...,1,1.393000
1,2018-10-01,0026497d2043c8530220eeb8e66051982cc6df3139a9b0...,3,10.478999
2,2018-10-01,006b49314baf054c636e7448d4f9b0df046aae9e9c17d0...,10,20.229999
3,2018-10-01,007327aa3a27718c76e6cd73c3971304280c8856f62940...,1,1.393000
4,2018-10-01,0088d9be17b2ec4b3621150117a0ede815547d4241eae1...,2,6.986000

In [235]:
purchase1 = purchase.copy(deep=True)
purchase1.week_start = purchase1.week_start.apply(lambda x: x- dt.timedelta(days=7))

In [236]:
purchase2 = purchase.copy(deep=True)
purchase2.week_start = purchase2.week_start.apply(lambda x: x - dt.timedelta(days=14))

In [237]:
df = df.merge(purchase, on=['user_id_hash', 'week_start'], how='left')

In [238]:
df.shape

(995976, 170)

In [239]:
df.no_of_buys.fillna(0, inplace=True)
df.sum_of_buys.fillna(0, inplace=True)

In [240]:
df = df.merge(purchase1, on=['user_id_hash', 'week_start'], how='left')

In [241]:
df.drop(['sum_of_buys_y'], inplace=True, axis=1)
df.rename(columns={'no_of_buys_x': 'no_of_buys',
                    'sum_of_buys_x': 'sum_of_buys',
                    'no_of_buys_y': 'y1'}, inplace=True)

In [242]:
df.week_start = df.week_start.astype('category')

In [243]:
df = df.merge(purchase2, on=['user_id_hash', 'week_start'], how='left')

In [244]:
df.drop(['sum_of_buys_y'], inplace=True, axis=1)
df.rename(columns={'no_of_buys_x': 'no_of_buys',
                    'sum_of_buys_x': 'sum_of_buys',
                    'no_of_buys_y': 'y2'}, inplace=True)

In [245]:
df['y1'].fillna(0, inplace=True)
df['y2'].fillna(0, inplace=True)
df['y2'] = df['y1'] + df['y2']
df['y1'] = df['y1'] > 0
df['y2'] = df['y2'] > 0

# Test Train Split

In [246]:
from sklearn.model_selection import KFold

def reg_target_encoding(train, col = "device_type", splits=5):
    """ Computes regularize mean encoding.
    Inputs:
       train: training dataframe
       
    """
    ksplit = KFold(n_splits=splits)
    for tidx, vidx in ksplit.split(train):
        mean_val = train.iloc[tidx, :].groupby(col)['y1'].mean()
        global_mean_val = train.iloc[tidx, :]['y1'].mean()
        train.loc[vidx, col + "_mean_enc"] = train.iloc[vidx, :][col].map(mean_val)
        train.loc[vidx, col + "_mean_enc"].fillna(global_mean_val, inplace=True)
    return None

In [247]:
def mean_encoding_test(test, train, col = "device_type"):
    """ Computes target enconding for test data.
    
    This is similar to how we do validation
    """
    mean_device_type = train.groupby(col)['y1'].mean()
    global_mean = train['y1'].mean()
    test[col + "_mean_enc"] = test[col].map(mean_device_type)
    test[col + "_mean_enc"].fillna(global_mean, inplace=True)
    return None

In [248]:
df.city = df.city.astype('category')
df.country = df.country.astype('category')
df.region = df.region.astype('category')
df.locale = df.locale.astype('category')
df.os_name = df.os_name.astype('category')

In [249]:
for c in [i for i in df.columns if i.startswith('atr_') or i.startswith('event_')]:
    df[c].fillna(-99, inplace=True)

In [250]:
df['user_age'] = (df.week_start.dt.date - df.user_created_timestamp)\
                    .astype('timedelta64[D]')

In [251]:
train = df[df.week_start < '2018, 12, 11']
test = df[df.week_start >= '2018, 12, 11']

In [252]:
reg_target_encoding(train, col='country')
mean_encoding_test(test, train, col='country')

In [253]:
reg_target_encoding(train, col='week_start')
mean_encoding_test(test, train, col='week_start')

In [254]:
reg_target_encoding(train, col='region')
mean_encoding_test(test, train, col='region')

In [255]:
train.city = train.city.cat.codes
train.country = train.country.cat.codes
train.region = train.region.cat.codes
train.os_name = train.os_name.cat.codes
train.locale = train.locale.cat.codes

In [256]:
test.city = test.city.cat.codes
test.country = test.country.cat.codes
test.region = test.region.cat.codes
test.os_name = test.os_name.cat.codes
test.locale = test.locale.cat.codes

In [257]:
train.is_user_first_session = train.is_user_first_session.astype(np.int)
train['y1'] = train['y1'].astype(np.int)
train['y2'] = train['y2'].astype(np.int)

In [258]:
test.is_user_first_session = test.is_user_first_session.astype(np.int)
test['y1'] = test['y1'].astype(np.int)
test['y2'] = test['y2'].astype(np.int)

In [259]:
train.shape

(995976, 176)

In [260]:
test.shape

(0, 176)

In [261]:
feature_cols = ['no_city', 'city', 'is_user_first_session',
                'country', 'country_count', 'region', 'region_count',
                'locale', 'os_name', 'user_days', 'total_session_time',
                'mean_session_time', 'median_session_time',
                'user_age', 'country_mean_enc', 'no_of_buys',
                'sum_of_buys', 'week_start_mean_enc', 'region_mean_enc']

feature_cols += [i for i in df.columns if i.startswith('atr_') or i.startswith('event_')]

In [262]:
x_train = train[feature_cols].values
y1_train = train[['y1']]
y2_train = train[['y2']]

x_test = test[feature_cols].values
y1_test = test[['y1']]
y2_test = test[['y2']]

In [263]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [264]:
xg_model1 = XGBClassifier(max_depth=7, learning_rate=0.1, n_estimators=300, n_jobs=-1)

In [265]:
xg_model1.fit(x_train, y1_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=7, min_child_weight=1, missing=None, n_estimators=300,
       n_jobs=-1, nthread=None, objective='binary:logistic',
       random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=None, silent=True, subsample=1)

In [266]:
y1_hat_train = xg_model1.predict(x_train)

In [267]:
accuracy_score(y1_train, y1_hat_train)

0.9743186582809225

In [268]:
xg_model2 = XGBClassifier(max_depth=7, learning_rate=0.1, n_estimators=300, n_jobs=-1)

In [269]:
xg_model2.fit(x_train, y2_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=7, min_child_weight=1, missing=None, n_estimators=300,
       n_jobs=-1, nthread=None, objective='binary:logistic',
       random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=None, silent=True, subsample=1)

In [270]:
y2_hat_train = xg_model2.predict(x_train)

In [271]:
accuracy_score(y2_train, y2_hat_train)

0.9700494791039141

In [197]:
y1_hat_test = xg_model1.predict(x_test)
y2_hat_test = xg_model2.predict(x_test)

In [198]:
accuracy_score(y2_test, y2_hat_test)

0.9594580105610208

In [199]:
accuracy_score(y1_test, y1_hat_test)

0.9672179483742998

# submission

In [272]:
submission = pd.read_csv('../sample_submission_2.csv')
req_uids = set(submission.user_id_hash)
dates = df.week_start.dt.date.unique()
dates.sort()

In [273]:
dates

array([datetime.date(2018, 10, 1), datetime.date(2018, 10, 8),
       datetime.date(2018, 10, 15), datetime.date(2018, 10, 22),
       datetime.date(2018, 10, 29), datetime.date(2018, 11, 5),
       datetime.date(2018, 11, 12), datetime.date(2018, 11, 19),
       datetime.date(2018, 11, 26), datetime.date(2018, 12, 3),
       datetime.date(2018, 12, 10)], dtype=object)

In [274]:
df.city = df.city.cat.codes
df.country = df.country.cat.codes
df.region = df.region.cat.codes
df.os_name = df.os_name.cat.codes
df.locale = df.locale.cat.codes
df.is_user_first_session = df.is_user_first_session.astype(np.int)
df['y1'] = df['y1'].astype(np.int)
df['y2'] = df['y2'].astype(np.int)

In [275]:
req_uids = set(submission.user_id_hash)
run_ids = req_uids
predict_df = pd.DataFrame(columns=['user_id_hash',
                                   'user_purchase_binary_7_days',
                                   'user_purchase_binary_14_days'])

for dts in reversed(dates[:-4]):
    t = df.loc[(df.user_id_hash.isin(run_ids)) &\
                     (df.week_start == dts), feature_cols].values
    cur_uids = df.loc[(df.user_id_hash.isin(run_ids)) &\
                     (df.week_start == dts), ['user_id_hash']].values

    pp1 = xg_model1.predict_proba(t)
    pp2 = xg_model1.predict_proba(t)

    print(f'{dts}: {pp1[:, 1].shape}')
    temp = pd.DataFrame(data={'user_id_hash': cur_uids.reshape(-1),
                              'user_purchase_binary_7_days': pp1[:,1],
                              'user_purchase_binary_14_days': pp2[:,1]})
    predict_df = pd.concat([predict_df, temp])
    run_ids = run_ids - set(cur_uids.reshape(-1))
    print(len(list(run_ids)))

2018-11-12: (60272,)
252296
2018-11-05: (38866,)
213430
2018-10-29: (36634,)
176796
2018-10-22: (34592,)
142204
2018-10-15: (32697,)
109507
2018-10-08: (28160,)
81347
2018-10-01: (22252,)
59095

In [276]:
predict_df.drop_duplicates(inplace=True)

In [277]:
left_out = list(set(submission.user_id_hash.unique()) -\
                set(predict_df.user_id_hash.unique()))

In [278]:
predict_df.user_purchase_binary_7_days.median()

0.0004101187514606863

In [279]:
predict_df.user_purchase_binary_14_days.median()

0.0002756034373305738

In [280]:
temp = pd.DataFrame(data={'user_id_hash': left_out,
                          'user_purchase_binary_7_days': 0.0004 * np.ones(len(left_out)),
                          'user_purchase_binary_14_days': 0.0003 * np.ones(len(left_out))})

In [281]:
predict_df = pd.concat([predict_df, temp])

In [282]:
predict_df.to_csv('../5_sub.csv', index=False, float_format='%.3f')